[2015-08-19 08:14] amirouche opened #1 "Integrated search engine"
I think it will be better to have a search engine integrated to the static version of the website. The problem is that the index is too big to be built by the user even for superuser (20MB). [lunrjs](http://lunrjs.com/docs/) provide numerous entry points. Here is the solutions that remains to be explored:
- build the index using lunr and store in the build directory. Load the index from the build

[2015-08-19 08:17] amirouche opened #2 "Question page"
- [x] use html meta keywords
- [x] create proper titles
- [x] check for closed question
- [x] fix tag links
- [x] fix comments order
- [x] fix answers order

[2015-08-21 17:47] amirouche opened #3 "Solid logging required to debug the `load`"
Solid logging infrastructure is required to debug the load script in case of error. This must be fault tolerant in the sens that a maximum number of files/entries must be loaded so that we can have a good overview of the data errors if any.

[2015-09-29 18:42] kelson42 opened #4 "Create default index.html"
I have launched a first dump and the result is available here:
http://zimfarm.kiwix.org/sotoki/

Unfortunately there is no (default) welcome page like:
http://zimfarm.kiwix.org/sotoki/index.html

This page might for example propose a cloud of tags but other ideas would be for sure doable.

[2015-09-29 18:43] kelson42 opened #5 "Stylesheet does not apply"
I have created a dump at:
http://zimfarm.kiwix.org/sotoki/

There are css/js files, but they seem to not apply to the content. For example at this page:
http://zimfarm.kiwix.org/sotoki/tags.html

[2015-10-10 06:53] kelson42 commented on #1
Did you have had a look to the solution used for Gutenberg? I would recommend to get the static pages done and correctly linked. Make a first version and then work on this. Meanwhile the reader fulltext search engine should do the job.

[2015-10-10 11:44] amirouche commented on #3
Since we moved to SQLite via SQLAlchemy issues in the data are a not problem for the load step

[2015-10-10 11:44] #3 closed

[2015-10-10 11:54] amirouche commented on #4
My plan is to use the tag index page.

[2015-10-10 11:59] amirouche commented on #5
This is because i looks for stylesheet at the root of the website eg. `http://zimfarm.kiwix.org/static/main.css`. I will think about it, but last time I choosed this solution because otherwise it requires to keep track of where the rendered page will be located, which is doable, but usually the solution is a) to use single `/` b) to use a prefix domain which must be in a configuration file or else

[2015-10-10 12:03] kelson42 commented on #5
Why not putting all HTML pages at the same depth:
/tags/...html
/questions/...html
/css

then you alway have to look at the same place

[2015-10-10 12:04] kelson42 commented on #4
Yes, make sense. Then probably creating /index.html pointing to it would help.

[2015-10-26 14:44] amirouche commented on #5
This will lead to a static files layout that is not natural. In the sens that the  html static files will not reflect the website hierarchy...

I prefer to add an option to specify a root url.

I'm working on it.

[2015-10-26 14:45] amirouche commented on #4
Ok.

[2015-10-26 17:19] amirouche commented on #5
I pushed a few cosmetic changes and a fix for this issue. The small inconvenience is that to specify the **root url** one must drop to the plain `sotoki.py` command. Which means that instead of doing:

[code]

One must do the steps manually  ie:

[code]

Eventually I'd like to keep the Makefile for building the production files, I'm not sure how to improve that.

Maybe using an environment variabl

[2015-10-26 17:21] amirouche commented on #5
I think the environment variable is better and easier to deal with, do you agree?

[2015-10-26 17:22] amirouche commented on #4
I did not link the commit, but this is done. The only problem is that **the page is big**. I'm not convinced this will work on small devices, but I may be wrong.

[2015-10-26 17:23] amirouche commented on #1
This is kind of complex. I'd like to do a first release before working on that.

[2015-10-29 07:58] amirouche opened #6 "Improve user support"
- [x] create user page
- [x] add identicon (https://github.com/azaghal/pydenticon)
- [x] add badges to users in user page and question page
- [x] fix user link page in question page
- [ ] add user questions and answers
- [x] use user profile image when available

[2015-10-29 07:59] amirouche opened #7 "Add different sort order active/oldest/votes using javascript"

[2015-10-29 08:20] amirouche commented on #4
fixed in b77f66fb2ee4d9900dde3a1941046576d65799b4

[2015-10-29 08:20] #4 closed

[2015-10-29 08:30] amirouche opened #8 "varia"

[2015-10-29 09:25] amirouche commented on #5
Actually it will be painful to have several ways to do things. Let's only use command line options.

[2015-10-29 09:25] #5 closed

[2015-10-29 09:25] amirouche commented on #2
LGTM.

[2015-10-29 09:25] #2 closed

[2015-10-29 09:28] amirouche opened #9 "Generate zim files with html files"
Need also to run a script to offline images.

[2015-10-29 09:30] amirouche commented on #9
@kelson42 can you point me to the correct documentation to generate zim files. Also you told me you have a script to rewrite HTML with offline versions of images.

After that step done, and if you agree we can declare the beta milestone done.

[2015-10-29 09:30] amirouche commented on #9
the alpha milestone sorry.

[2015-10-29 17:30] amirouche opened #10 "Paginate tag pages"

[2015-10-30 09:12] amirouche commented on #10
LGTM

[2015-10-30 09:12] #10 closed

[2015-10-31 17:28] amirouche opened #11 "Improve badges support"
There is a badges.xml file in the dump look at that or try to dump badges from the API.

[2015-10-31 17:33] amirouche commented on #9
zimwriterfs can be found at: http://www.openzim.org/wiki/Build_your_ZIM_file#zimwriterfs

[2015-10-31 19:57] kelson42 commented on #9
You should find everything you need here: https://git.wikimedia.org/tree/openzim/HEAD/zimwriterfs

[2015-10-31 19:59] kelson42 commented on #9
zimwriterfs does all the necessary (for the ZIM file) URL rewriting. That said the HTML files stored on the fs need first to work perfectly locally. You can check this by open the HTML files with your favorie browser.

[2015-10-31 20:11] kelson42 commented on #11
How does "badges" work? I had a look to the xml files without understanding the purpose...

[2015-10-31 20:24] kelson42 commented on #7
Something we use on youtube scrapper is:
1 - Having everything which might be possible to display on a page in json
2 - filter dyn. with js

This might be use in different scenarios to achieve quick filtering (but this can also be use for the pagination) without any reload.

[2015-10-31 20:25] kelson42 commented on #6
+++

[2015-10-31 20:45] amirouche commented on #11
Badges are vanity marks of splendor :v:. This is equivalent to achievements in games but most of them are kind of silly IMO. **Badges complete the reputation number**  to know whether the answer of someone can be understood as valuable or not.

The `Badges.xml`:

[code]

The `Name` attribute the *Achivement name* but the problem is that in a real StackExchange website this is also associated with

[2015-10-31 21:06] amirouche opened #12 "Offline images embedded in questions"
Create a command that offline images embedded in questions.

[2015-11-01 11:32] kelson42 opened #13 "External links should be tagged"
External links (so not pointing to a ZIM article) should be visually tagged. This is important for users to make the different between available/non available contents. This is already the case on Wikipedia ZIM files, we use a small icon we put beside the link. I would recommend to take and just tag the external link with a css class (adding this icon on the right of the link).

[2015-11-01 14:19] kelson42 commented on #11
Thx for the explanation, this seems important to help to evaluate answer. Even if vanity, sounds an added value for the readers.

[2015-11-08 16:44] amirouche commented on #13
Got it. I will add it.

[2015-11-11 11:46] amirouche opened #14 "Simplify command"
Make it easier to run all the process

[2015-11-11 12:13] amirouche commented on #13
It's done only with css. I'll push it later.

[2015-11-11 12:22] amirouche opened #15 "Make the script scale for StackOverflow"
SO is much bigger than SU. It's assumed that the data fits into RAM both during build and during browser e.g. the index page displays every single tag, this might not work on SO.
- [ ] Fix build
- [ ] Fix website

[2015-11-11 13:02] amirouche commented on #14
The README was updated with new instructions.

[2015-11-11 13:16] amirouche opened #16 "Reduce images weight"
- [x] optimize Cf. http://sourceforge.net/p/kiwix/other/ci/master/tree/mwoffliner/mwoffliner.js L406
- [x] resize Cf. python-resize-images

[2015-11-19 07:29] #13 closed

[2015-11-19 07:29] #12 closed

[2015-11-19 07:32] amirouche commented on #14
The new instructions to run the script (extracted from README).

---

Copy superusers.com.7z and unzip it to work/dump/:

[code]

Go back at the sotoki root and run the pipeline:

[code]

[2015-11-19 07:32] #14 closed

[2015-11-19 07:33] amirouche commented on #16
need to debug.

[2015-11-19 07:36] amirouche commented on #11
Will implement the partial support of badges in #6

[2015-11-19 07:36] #11 closed

[2015-11-27 11:12] amirouche commented on #16
Seems to work, but need a full build to be sure.

[2016-02-05 08:18] amirouche opened #17 "Make sure the image offliner and image size reducer are successful"
During testing on my home machine offlin-ing hangs for some reasons, I don't why. We can't not deliver half backed zim files so make sure to threat this error properly during build

Raise error or log error in case of problem.

[2016-02-05 08:19] amirouche commented on #16
cf #17

[2016-02-05 08:19] #16 closed

[2016-03-19 07:41] kelson42 opened #18 "Respect SE attribution rules"
All page should attribute content to SE and respective authors:
https://archive.org/details/stackexchange
- [x] Visually display or otherwise indicate the source of the content as coming from the Stack Exchange Network. This requirement is satisfied with a discreet text blurb, or some other unobtrusive but clear visual indication.
- [x] Ensure that any Internet use of the content includes a hyperl

[2016-03-19 16:05] kelson42 opened #19 "Favicon should be downloaded in PNG format"
It's not the favicon (ico format) of the web site, but a 48x48 PNG file with the logo of the web site.

[2016-03-28 08:42] kelson42 commented on #15
I'll make a new run with SO xml files to see it this works.

[2016-03-28 08:43] kelson42 opened #20 "Specify XML file directory"
The command line sotoki tool should allow to specify directory path were the XML files are.

[2016-03-28 10:02] kelson42 commented on #15
I have tried but the script crashs at the beginning, not sure this is related to the XML files

(venv)kelson@zimfarm:/srv/sotoki$ ls -la *xml
-rw-r--r-- 1 kelson kelson  2016042158 Mar  7 22:08 Badges.xml
-rw-r--r-- 1 kelson kelson 12166668726 Mar  7 22:15 Comments.xml
-rw-r--r-- 1 kelson kelson 71927132845 Mar  7 22:52 PostHistory.xml
-rw-r--r-- 1 kelson kelson   377355828 Mar  7 23:14 PostLinks.

[2016-03-31 12:32] amirouche commented on #15
@kelson42 you need to delete the work directory or  better move it to some other place like `mv -r work superuser` and then:

[code]

Move the stackoverflow dump to the above directory and run `sotoki.py run`.

[2016-03-31 12:49] amirouche commented on #17
Download hangs but no error is raised. When I hit once Ctrl+C the download restarts

[2016-03-31 12:56] amirouche commented on #18
Not sure whether the direct links to SE are necessary since sotoki dump are meant to be offline.

[2016-03-31 18:25] kelson42 opened #21 "Metadata lang should be in ISO-639-3 format"
Here it is:
https://en.wikipedia.org/wiki/ISO_639-3

... and without "local" part

For now it seems to be ISO-639-2 with local/country part.

[2016-03-31 18:26] kelson42 opened #22 "author/publisher metadata should be different"
* "author" should be the name of the project, for example "StackExchange"
* "publisher" should be parametrizable on the command line

[2016-03-31 18:28] kelson42 opened #23 "Metadata title/descripton shoudl come from the online web site"
Here the html:

[code]

Or be somehow hardcoded in the script (less good).

[2016-04-01 05:13] kelson42 commented on #15
OK, I ran it but it went over 10GB of memory usage, so yes there is a memory consumption problem.

[2016-06-18 16:18] dattaz opened #25 "error on copy dependencies JS/CSS"
Traceback (most recent call last):
  File "sotoki.py", line 599, in <module>
    copytree('static', os.path.join('work', 'output'))
  File "/usr/lib/python2.7/shutil.py", line 177, in copytree
    os.makedirs(dst)
  File "/home/someone/dev/kiwix/sotoki/venv/lib/python2.7/os.py", line 157, in makedirs
    mkdir(name, mode)
OSError: [Errno 17] File exists: 'work/output'

=> cp -r static/* work/outpu

[2016-06-19 08:06] dattaz commented on #21
We haven't information of language of question in stackexchange website and it's seem that all site of stackexchange are in english, so I think we can juste hardcoding language into the script. Are you ok with that ? (otherwise we can juste add option when you call script)

[2016-06-19 10:14] dattaz opened #27 "Remove hardcode name into template"

[2016-06-19 10:18] dattaz commented on #27
templates/tags.html ligne 7
templates/base.html ligne 5 and 29
templates/index.html ligne 7

[2016-06-19 14:38] dattaz opened #28 "get the good image of user"
now : each user have a random generate image
todo : have the good image of user

[2016-06-19 16:26] dattaz commented on #27
done here : https://github.com/dattaz/sotoki/tree/template_modif
Will be push with global pull request after kiwix hackthon

[2016-06-19 17:42] dattaz commented on #20
default value should be work/dump/

[2016-06-20 10:28] dattaz opened #30 "Tag in index page order by name"
They are order by name, but we can order by count (number of topic with each tag)

What is the best ?
-name : easy if you search for something specific
- count : better for popularity

[2016-06-21 20:58] dattaz opened #31 "minify HTML file ?"
Actually a zim file of a stackechange web site is  around 10 time  bigger.
So for stackoverflow it's wilm make a zim of ~250Go...
I don't know how zim compression work but maybe de should try to see if minify file is better

[2016-06-22 07:45] amirouche commented on #30
I think we should leave this as it is, order by name until a next release.

[2016-06-22 07:46] dattaz commented on #30
Ok, it's just do that 1 minute ago :D

[2016-06-22 08:07] dattaz commented on #31
Image take also lot of space (and I forgot about them)

[2016-06-22 08:16] kelson42 commented on #31
My feedback about it: let's try to make a first version and bother about optimisation then. But anyway, yes this is probably going to be huge! :(

[2016-06-22 09:03] amirouche commented on #31
There is already some code doing compression it should be tuned cf. [optimize](https://github.com/kiwix/sotoki/blob/master/sotoki.py#L347)

[2016-07-03 18:30] kelson42 opened #33 ""work/output" should be cleaned/removed before starting"
Getting this crash late in the process is not OK.

[code]

[2016-07-03 18:38] amirouche commented on #33
oops!

[2016-07-03 23:09] dattaz commented on #30
Close by #32

[2016-07-03 23:09] #30 closed

[2016-07-03 23:09] dattaz commented on #27
Close by #32

[2016-07-03 23:09] #27 closed

[2016-07-03 23:09] dattaz commented on #25
Close by #32

[2016-07-03 23:09] #25 closed

[2016-07-03 23:09] dattaz commented on #23
Close by #32

[2016-07-03 23:09] #23 closed

[2016-07-03 23:09] dattaz commented on #22
Close by #32

[2016-07-03 23:09] #22 closed

[2016-07-03 23:09] dattaz commented on #21
Close by #32

[2016-07-03 23:09] #21 closed

[2016-07-03 23:09] dattaz commented on #20
Close by #32

[2016-07-03 23:09] #20 closed

[2016-07-03 23:09] dattaz commented on #19
Close by #32

[2016-07-03 23:09] #19 closed

[2016-07-03 23:09] dattaz commented on #17
Close by #32

[2016-07-03 23:09] #17 closed

[2016-07-03 23:10] dattaz commented on #9
Close by #32

[2016-07-03 23:10] #9 closed

[2016-07-21 06:53] amirouche opened #35 "wiredtiger backend"
Use wiredtiger as database backend and see what happens.
- add a timeout to the  calls to optimize function cf. https://pypi.python.org/pypi/subprocess32/

[2016-08-19 21:17] dattaz opened #36 "use ProfileImageUrl of user"
When user have ProfileImageUrl we should download it and not generating a random one.

[2016-08-31 18:40] kelson42 commented on #35
What is the status on this? Do we see an improvement in comparison to sqlite? Is that more complex to use?

[2016-09-05 09:50] amirouche commented on #35
It's not more complex. That said, there is a memory leak that make it unsuable on big dumps. I'll have a look at it this week.

[2016-09-13 18:50] amirouche commented on #35
I think that I remember that the leak comes from the image optimization step... I don't recall why I overlooked that issue. I trying to verify that.

[2016-09-14 17:21] amirouche commented on #15
This is a work in progress in the wiredtiger branch cf. #35

[2016-09-14 17:22] amirouche commented on #28
this will be tracked in #6

[2016-09-14 17:22] #28 closed

[2016-09-14 17:22] amirouche commented on #36
We will track this in #6

[2016-09-14 17:22] #36 closed

[2016-09-14 17:23] amirouche opened #37 "Add link to original content"
It would be nice to link the original question url.

[2016-09-14 17:24] amirouche opened #38 "Make it possible to link to a particular answer in a question like it's possible on SO sites"

[2016-09-17 08:12] kelson42 commented on #37
Yes, a footer in a similar manner like we have on Wikipedia ZIM file would be great.

[2017-01-12 23:03] dattaz commented on #31
For minify we can just minify templates

[2017-03-14 17:35] dattaz opened #39 "change hash type for image"
sha1 -> sha512 ?

[2017-03-18 08:33] dattaz commented on #38
Format url for this is in SO is : http://stackoverflow.com/a/42872127 (where 42872127 is postid)
I'm not sure we can do that on zimfile.
What we can do is : [question url]#[postid] (ex: [question url]#42872127

[2017-03-18 08:34] dattaz commented on #37
Same as #18

[2017-03-18 08:34] #37 closed

[2017-03-18 08:53] kelson42 commented on #38
@dattaz No 100% sure I understand the ticket. But I would create a redirect with the number to the question (with the title).

[2017-03-18 12:44] dattaz commented on #18
Done on merge_xml

[2017-03-18 13:38] dattaz commented on #39
done in merge_xml

[2017-03-18 13:38] #39 closed

[2017-03-18 13:41] dattaz commented on #38
We should also to this for user

[2017-03-18 14:29] kelson42 commented on #18
Great! @amirouche, could we merge "merge_xml" to master? Maybe a few things from the "wiredtiger" branch might also benefit to master? Would be great to come back to one working branch.

[2017-03-19 14:31] dattaz commented on #38
q/[post_id] will link to question
u/[user_id] will link to user page
a/[post_id]#a[post_id] will link to answer
Done in merge_xml commit ba82e26

[2017-03-19 15:48] amirouche commented on #38
Nice!

[2017-04-08 14:10] dattaz commented on #38
Finally :
question/[post_id].html will link to question
user/[user_id].html will link to user
answer/[post_id].html#a[post_id]

[2017-04-08 14:10] #38 closed

[2017-04-08 14:11] #33 closed

[2017-04-08 14:11] #31 closed

[2017-04-08 14:11] #18 closed

[2017-04-08 14:13] dattaz commented on #15
merge_xml that has been merge in master normally scale for stackoverflow, on test i made have, it's can write all post and user (without offlining image) in a limited amount of memory.

[2017-04-08 14:13] #15 closed

[2017-04-08 14:16] dattaz commented on #6
I haven't add  "user questions and answers" because of the way we handle dump it's will need lot of more work (not to write code for that but at run time). I don't think it's really useful.
If you think it's really important, feel free to re-open to discuss

[2017-04-08 14:16] #6 closed

[2017-04-08 14:18] dattaz commented on #1
As discuss with @kelson42 search in zimlib, will, for the moment and for the use case, be enough

[2017-04-08 14:18] #1 closed

[2017-04-15 07:22] kelson42 commented on #35
We have finally found a solution without using wiredtiger.

[2017-04-15 07:22] #35 closed

[2017-04-15 07:22] #8 closed

[2017-04-15 19:09] kelson42 opened #41 "Crash with stackoverflow"
[code]

[2017-04-16 16:37] kelson42 commented on #41
I have restarted the process and it fails again in the same manner

[2017-04-16 16:56] kelson42 opened #42 "Create a --resume option"
I can not decide how this should work, but having to redownload everything/everytime seems to be a problem.

[2017-04-16 16:56] kelson42 opened #43 "Delete temporary data if restarting"
Currently the script complains about pre-existing data.

[2017-04-17 11:45] dattaz commented on #42
You can use --directory= to specify dump dir. But i'll add a option to resume without re-construct prepare.xml

[2017-04-21 23:49] dattaz commented on #41
correct on 025e635ff067a1d477cb79eb60477b65455a9db2

[2017-04-21 23:49] #41 closed

[2017-04-22 19:37] kelson42 opened #44 "Problem with generating Stack Overflow ZIM"
Script continues but I see following errors

[code]

[2017-04-22 20:18] dattaz commented on #44
Can you send me the list of openfile of the processus : /proc/[PID]/fd

[2017-04-23 07:12] kelson42 commented on #44
[code]

[2017-04-23 08:27] kelson42 opened #45 "SSL issues"
[code]

What is behind that error?

[2017-04-23 08:27] kelson42 commented on #45
I suspect that we should be less sensitive and still download stuff, even if the certificate is not OK.

[2017-04-23 16:28] #45 closed

[2017-04-29 13:00] dattaz commented on #43
When this append it complains at start.
This case only append when :
- ```--nozim``` option has been pass to a previous run ; IMO user should explicitly delete these data from previous run
- Previous run that has crash, this shouldn't happen and it's a very specific case.

IMO no action is require, maybe a more informative message ?
What do you think ?

[2017-04-29 13:09] dattaz commented on #42
In a normal run, script download dump, generate data, then zim and remove dump and data (only the zim file exists after running)
```--resume``` option can be useful when script has been stopped during this run.
We can't know where it has stop, what we can do it's just not restating from scratch and not re-downloading dump and not re-prepare dump.

this what you have in mind @kelson42 ?

[2017-04-30 16:21] kelson42 commented on #42
We have two kinds of data:
1 - What comes from archives.org: xml file in both compressed and uncompressed forms and the corresponding HTML
2 - The (optimised) images

Per default, it should test if each of the element of (1) exists and reuse it if possible. Otherwise do the necessary. If an option --reset is used then everything in (1) should be removed.

(2) should always be reused. If we really

[2017-04-30 16:21] kelson42 commented on #43
I think if #42 is implemented  correctly, then this problem should be fixed too. I close it.

[2017-04-30 16:21] #43 closed

[2017-05-01 16:32] dattaz opened #46 "check if binary exists before start"

[2017-05-08 19:19] kelson42 commented on #44
This has been fixed by @dattaz

[2017-05-08 19:19] #44 closed

[2017-05-08 19:20] #42 closed

[2017-05-08 19:30] dattaz commented on #46
done in c9b63ae89218b5a6b5feac0ece12e80bf3a41a3e

[2017-05-08 19:30] #46 closed

[2017-05-11 17:45] kelson42 opened #47 "File name too long error"
For example:
[code]

[2017-05-11 20:14] kelson42 opened #48 "non deflated HTML files int the "images" directory"
This is pretty weird and the zimwriterfs can not really deal with them
[code]

[2017-05-11 22:23] #47 closed

[2017-05-11 22:24] dattaz commented on #48
I think these files are svg files, can you check that ?

[2017-05-13 08:39] dattaz commented on #48
Some ```img``` tag in dump point to .html and are normally ```a``` tag
Maybe we can just ignore downloading of these "image" if extention is ```html```

[2017-05-13 14:56] kelson42 commented on #48
@dattaz will do that, for now I'm in holidays....

[2017-05-13 15:30] #48 closed

[2017-05-22 05:23] kelson42 opened #49 "ZIM file should have a language code with two letters"
If the ZIM metadata uses a language code ISO with 3 letters (better) the filenames uses a language code with two letters (if possible) because it is the far more common.

[2017-05-22 13:30] dattaz opened #50 "HTML tag are not escape"
HTML tag are not escape in title,  comment

[2017-05-22 13:32] dattaz opened #51 "URL should be encoded"
Local url are not encoded
Exemple : tag/g++/1.html should be tag/g%2B%2B/1.html

[2017-05-22 13:36] dattaz opened #52 "Some image are not downloaded and break css"
See stackoverflow.com_eng_all_2017-05/A/question/41651035.html

[2017-05-22 13:41] dattaz opened #53 "Better UI for user badge"
- [x] User badge should be show in a better UI than a ul list.

- [x]  Also we should have a count for badge and not show it more than once if user get it twice or more.

[2017-05-22 13:44] dattaz commented on #52
Same for user page

[2017-05-22 14:19] dattaz commented on #52
In fact, it's just path for image that are not change, because img are already download

[2017-05-22 14:28] #52 closed

[2017-05-22 14:36] dattaz opened #54 "Dont show tag with 0 question and sort tag by number of question"

[2017-05-22 14:56] #51 closed

[2017-05-22 15:22] #54 closed

[2017-05-24 17:46] kelson42 opened #55 "Add --withFullTextIndex"
which will call zimwriterfs with --withFulltextIndex argument

[2017-05-24 18:25] dattaz commented on #55
FullTextIndex by default, and i add option --noFulltextIndex
Done in b054a4094574c250827c1ffdb64834a8b31eec92

[2017-05-24 18:25] #55 closed

[2017-05-28 06:35] kelson42 opened #56 "MathML not displayed correctly"
At least in this ZIM http://download.kiwix.org/zim/stack_exchange/math.stackexchange.com_en_all_2017-05.zim

[2017-05-28 20:39] dattaz commented on #56
We add MAthJax for site that require this in e1892f0248e0e5a07bc9798c472022d4fd1d7e62

[2017-05-28 20:39] #56 closed

[2017-06-01 09:25] okkebal opened #57 "Can't install sotoki"
Now that Sotoki is capable I'd like to give it a try. I followed the instructions (using Kubuntu). When I do

pip install sotoki

it says:

(.....)
    building 'lxml.etree' extension
    creating build/temp.linux-x86_64-2.7
    creating build/temp.linux-x86_64-2.7/src
    creating build/temp.linux-x86_64-2.7/src/lxml
    x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototy

[2017-06-01 10:33] dattaz commented on #57
It's not sotoki but one of this dependances : lxml , it's seems one deps is missing, you should consulte this page i think http://lxml.de/installation.html

FYI : kiwix will (in a short term) provide zim file of stackexchange sites and stackoverflow

[2017-06-01 10:45] kelson42 commented on #57
Yes, it's already partly there http://download.kiwix.org/zim/stack_exchange/

[2017-06-01 12:02] okkebal commented on #57
I've seen these zims wich is why I wanted to try to make a ZIM of parenting.stackexchange.com. I downloaded the big torrent dump, installed using the instructions here.

Indeed lxml does not seem to want to install using this "pip" program.

It seems lxml 3.5.0 is installed. Does Sotoki use a different version?

I also noticed there are no indexes (portable versions) yet. I am generating these now

[2017-06-01 12:14] okkebal commented on #57
I managed to install Sotoki now. Indeed I needed to downgrade to lxml 3.4.4. wich dod not work becuase of some dependencies.

https://stackoverflow.com/questions/6504810/how-to-install-lxml-on-ubuntu/6504860#6504860

[2017-06-01 12:21] okkebal commented on #57
Great so now I need zimwriterfs, of wich no binaries are available. No easy way to install. I guess this is just too much for you average PHP programmer.   I think I'm gonna give up here

[2017-06-01 12:43] okkebal commented on #57
Tying to Build openzim-master

In the instructions here: https://github.com/wikimedia/openzim/tree/master/zimwriterfs

cd ../zimlib && ./autogen.sh && ./configure && make && cd ../zimwriterfs

./autogen.sh: 8: ./autogen.sh: libtoolize: not found
./autogen.sh: 12: ./autogen.sh: aclocal: not found
./autogen.sh: 13: ./autogen.sh: autoheader: not found
./autogen.sh: 14: ./autogen.sh: autoconf: not fou

[2017-06-01 12:49] okkebal commented on #57
Seems like the "make" command worked. But now I cannot figure out where the binaries are or how to execute them or how to add them to my path sothat Sotoki can find them.

(If you did not guess I am pretty new to this)

[2017-06-01 13:09] okkebal commented on #57
No Make file is not there you. I get an error abou 'xapian' so I did:

sudo apt-get install libxapian-dev

Now the error is:
error: xapian version must be >= 1.4.2

So I Do:
sudo apt-get install libxapian-dev=1.4.2-1

And I get:
E: Version '1.4.2-1' for 'libxapian-dev' was not found

[2017-06-01 13:20] okkebal commented on #57
Even over at Debian Backports..  the latest version is 1.4.1

https://packages.debian.org/search?keywords=xapian&searchon=names&section=all&suite=jessie-backports

[2017-06-01 14:40] okkebal commented on #57
So I managed to build from sources xapian 1.4.4 and xapian-bindings from the xapian website.

Now the ./configure command (to build zimwriterfs) works!

But make does this:

 make
/bin/bash ./libtool  --tag=CXX   --mode=link g++ --std=c++0x  -I/usr/local/include -Wall -I../zimlib/include  -O3 -L/usr/lib/x86_64-linux-gnu -licui18n -licuuc -licudata   -L/usr/local/lib -lxapian -L../zimlib/src/.libs

[2017-06-02 08:46] okkebal commented on #57
It now has become a Xapian or Openzim issue. Well I wanted to make some Zim files and try to make the sotoki zims a bit nicer to look at. As a designer I can see the Html/css/JS but I can't get it to work.  I coult try again on osx or Windows but usually these things are easiest in Linux.

[2017-06-02 10:15] dattaz commented on #57
I understand it's seems hard but, if you want there is a VM with already zimwriterfs and tools for zim available : http://download.kiwix.org/dev/ZIMmakerVMv6.ova
All dependances for zimwriterfs are available (in the good version) in debian but in the next release (stretch) which come at the end of the month.

We need help to make sotoki zim nicer, for exemple with that : https://github.com/openzim

[2017-06-02 11:20] okkebal commented on #57
Ah great a VM where everything just works. So how do I open that? Because I do not have a VMWare licence.

[2017-06-02 11:23] dattaz commented on #57
virtualbox is ok

[2017-06-02 12:04] okkebal commented on #57
I have the zimmaker VM running now, but what is the root password of this VM??

[2017-06-02 12:34] dattaz commented on #57
Use sudo with "zimmaker" as password

[2017-06-02 15:54] dattaz commented on #57
File is here for one week : https://framadrop.org/r/hduez3WnbK#5L/zKgOE6eY3eet1P5h9u4D6LOm4JdkMvHTg2+g1mEQ=

[2017-06-02 17:16] okkebal commented on #57
Wow thanks so much, never heard of Framadrop its a bit like Freenet. I like it. A bit slow though, but thanks for the file. I am making indexes for all these Sotoki files. My computer is still at it trying to create one for StackOverflow..... its at 42%...  It will probably finish next week :) With these indexes the zim files are so much more usable.

I did notice that StackOverflow starts giving

[2017-06-03 10:17] okkebal commented on #57
I've got Sotoki running in the VM now. Its generating a ZIM file. It works! Thanks. But now I want to try to make changes to it. I tried "whereis sotoki" but nothing. Where can I find Sotoki now? I can see the sources here on Git but where are they on the computer when you have done "pip install sotoki"?

[2017-06-03 10:44] okkebal commented on #57
Sotoki is a script right? no compiling? or is it an binary? I gueass my question is "how do I set up a development environment where I can make changes to the sources an then test it.

[2017-06-03 14:48] kelson42 commented on #57
BTW, there is also also the Sotoki Docker image which allow quickly to use Sotoki https://hub.docker.com/r/openzim/sotoki.

[2017-06-04 04:44] dattaz commented on #57
Yep it's a script, you can clone this repo on your github account, make a new branch to work on, and then you can launch in sotoki/ by using python sotoki.py

[2017-06-04 07:49] kelson42 opened #58 "Crash scenario"
[code]

FYI, the precedent run died because zimwriterfs was not able to start correctly. Might also make sense to check if zimwriterfs can be started correctly.

[2017-06-05 07:59] kelson42 opened #59 "Unable to create ZIM for arabic.stackexchange.com"
[code]

[2017-06-05 13:18] dattaz commented on #58
What do you want to say by : "zimwriterfs was not able to start correctly" ?

Currently, when zimwriterfs crash, the generated files are left in place to just have to relanch zimwriterfs (which have it's command with arguments print). And if you want to re-start everything add : --clean-previous
Maybe it's not the good workflow?

[2017-06-05 13:24] dattaz commented on #59
arabic.stackexchange.com is a close stackexchange forum, we agree with, at hackthon, to not take them in account.
But still IMO, we should make them one time (by hand)... (by removing from code 2-3 things that can't be download automatically)

[2017-06-05 14:45] kelson42 commented on #58
@dattaz

It should not die, in worse case it should stops with a proper error. But the right behaviour should be to resume.

I'm not sure to remember exactly what mean these three options: [--reset] [--reset-images] [--clean-previous]. Would be great to have a bit more details about each option in the usage (one line with explanaition by option).

[2017-06-05 14:53] kelson42 commented on #59
* Pourquoi le script meurt alors que visiblement tout semble oK?
* Comment je fais pour le lancer manuellement?

[2017-06-05 14:55] kelson42 opened #60 "Rewrites list_all.sh based on XML file"
Availabel here https://ia800500.us.archive.org/22/items/stackexchange/stackexchange_files.xml

[2017-06-06 08:13] dattaz commented on #59
Currently only this site (present in archive.org) is a close site.
Now there is a dict hard-code of old site we support. (we just have to find a archive version of the site in the wayback machine)

We can also ignore old site by passing `--IgnoreOldSite` as argument

[2017-06-06 08:13] #59 closed

[2017-06-06 08:18] dattaz commented on #58
I have add a message with some explanation (and after this message programme stop)
Also options are now print by default (previously -h)

[2017-06-06 08:18] #58 closed

[2017-06-06 12:28] okkebal commented on #57
I did this:

git clone https://github.com/openzim/sotoki
cd sotoki
python sotoki.py

It now sais:

Traceback (most recent call last):
  File "sotoki.py", line 35, in <module>
    from subprocess32 import call
ImportError: No module named subprocess32

[2017-06-06 12:30] kelson42 commented on #57
@okkebal Follow the README https://github.com/openzim/sotoki/blob/master/README.md

[2017-06-06 19:08] okkebal commented on #57
Ah oh, so I needed to start the virtual environment first like it said in the readme. Well I can finally make zim files and change code! Thanks so much.

[2017-06-06 23:40] okkebal commented on #57
I've made changes to the design and index. It now shows only 100 tags on the index and the top 50 most popular questions. There now is an "all tags" page with this terrible big list of tags that used to be the index. I've created a new ZIM file for AI.stackexchange to test. Please take a look.

http://www.zorgsite.nl/files/ai.stackexchange.com_en_all_2017-06.zim

I did

git clone https://github.co

[2017-06-07 07:46] dattaz commented on #57
Wow ! Really cool ! 👍👍
I'm not sure about the blue, but what you propose is definitely better than what we have.
3 remarks :
 - color should take all the page (you have blank border at left and right)
 - "This (question|user page) is issued from XXX" is missing at the end of question page and user page
- "This website was generated by sotoki using stackexchange network database dump." is missing o

[2017-06-07 11:26] okkebal commented on #57
- On very large monitors its prettier not to make the whole background one color. I added a shadow to make it a bit nicer.
- Yes I removed the sentence at the bottom. I thought it did not add much. Makes the Zim file bigger and only annoys me.
- Same here: it is important to keep a copyright there, but why should each page say that is has been generated by Sotoki? What good is that to the user?

H

[2017-06-07 12:26] okkebal commented on #57
It looks like it worked. On the "pull requests" page I can see my changes. What am I supposed to do there?

[2017-06-07 12:32] okkebal commented on #57
When I use minified HTML from templates_mini folder the ZIM file actually gets bigger by 1 mb..

??

[2017-06-07 13:38] dattaz commented on #57
Yep agree with you:
- "This (question|user page) is issued from XXX" should be here because legal and because it's had link to original content
- generated by sotoki can be only on index.html

Yep hand minification is just removing enters and useless space, we haven't made any benchmark on minification but, with the current status i made smaller zim with templates_mini than templates.

Your fork s

[2017-06-07 14:45] okkebal opened #61 "sotoki zims dont work on Android"
I tried to open ai.stackexchange zim on my android 6 phone, first page loads ok, but question pages all pictures and css files are broken. It does work on kiwix serve and kiwix for Windows.  This problem is not caused by my changes. I tried with the original Zim from download.kiwix

[2017-06-07 14:51] dattaz commented on #61
see https://github.com/kiwix/kiwix-android/issues/69

[2017-06-07 14:51] #61 closed

[2017-06-07 15:03] okkebal commented on #57
I put back the bottom lines as you suggested.

Ok, so I made a pull request. Hopefully It works.

[2017-06-07 18:00] okkebal commented on #7
For Stack Overflow this is going to be very slow if we create one big JSON. Maybe create different JSONS for each tag. It could also be used to search ala Gutenberg. I must say that on my computer Gutenberg runs pretty slow, and on most android browsers (using kiwix-server) it does not work at all. It only works in Firefox.

[2017-06-07 19:13] dattaz commented on #7
+1
We will let this open to see if some people(s) come with idea about this feature when we will release zims.

[2017-06-07 23:50] #57 closed

[2017-06-08 21:55] okkebal commented on #53
What is a "user badge"?

[2017-06-08 22:10] dattaz commented on #53
on User page you have "Badges", currently it's just a li list with "(x times)", maybe it can be better

[2017-06-09 08:55] dattaz opened #63 "Mathjax is ok on serveur but not on kiwix desktop"
Open "Can one latexify formulae on Signal Processing meta?" of "meta.dsp.stackexchange.com_en_all_2017-06.zim"
Check first answers on desktop and on a web browser (using server)
It's not a problem of a ressource that is load from internet

[2017-06-09 09:16] dattaz commented on #63
Same with kiwix for android

[2017-06-09 13:22] #53 closed

[2017-06-09 13:26] okkebal commented on #63
You have a patch for this right?

[2017-06-09 13:32] dattaz commented on #63
nop, it's seems a issue on kiwix for android/kiwix desktop

[2017-06-09 13:36] okkebal commented on #63
It has nothing to do with my changes?

[2017-06-09 13:49] dattaz commented on #63
No, was here before (i have check)

[2017-06-09 15:24] okkebal commented on #63
It probably has to do with the rendering engine (Gecko)
Upgrading XULRunner probably does the trick. The latest version is based on Firefox 45, so you should see if MathJax works in FF 45. If it does then it will probably also run in XULrunner 45.

[2017-06-11 06:48] kelson42 opened #64 "Many ZIM file have CSS problems"
Recently done ZIM files might (not all of them) have problem with CSS:
* http://download.kiwix.org:8080/matheducators.stackexchange.com_en_all_2017-06/
* http://download.kiwix.org:8080/mathematica.stackexchange.com_en_all_2017-06/
* http://download.kiwix.org:8080/mathoverflow.net_en_all_2017-06/

But other ones no:
* http://download.kiwix.org:8080/martialarts.stackexchange.com_en_all_2017-06/

[2017-06-11 09:24] kelson42 commented on #63
@okkebal I agree. We should focus on getting this working on Android/iOS first.

[2017-06-11 09:28] kelson42 commented on #7
@okkebal thx for your feedback about gutenberg, for me it means we should split things in small chunks/json files.

[2017-06-11 10:20] dattaz commented on #64
The cause is a mistake with mathjax templates in 0.7 version.
This is correct in the new version (0.8) release today

[2017-06-16 14:53] okkebal commented on #64
So who is rendering the download.kiwix.org ZIM files? I see outdated SE files appearing there. Please use the new Sotoki to render them!

[2017-06-16 18:02] kelson42 commented on #64
@okkebal Yes, they have been rendered partly before the fixes. A new run will be done in June. I think we can clause that ticket.

[2017-06-16 18:02] #64 closed

[2017-07-11 19:19] kelson42 opened #65 "HTTP 500 errors by running sotoki"
This seems to be new

$ sotoki 3dprinting.stackexchange.com Kiwix --clean-previous
remove work/3dprinting_stackexchange_com/output/user
remove work/3dprinting_stackexchange_com/se-dump.db
remove work/3dprinting_stackexchange_com/redirection.csv
Already 1000 Users done !
HTTP Error 500: Internal Server Error
Already 2000 Users done !
HTTP Error 500: Internal Server Error

[2017-07-12 09:33] dattaz commented on #65
it's not new, sotoki print HTTP error when an (image) download fail.
because of  `--clean-previous` you clear image cache, so he re-download user image and some got a 500 error. In this case we fallback by generating one.

[2017-07-12 09:47] dattaz commented on #65
Some user have on there user profile an image, so we try to download it.
If download fail, we show error, like `HTTP Error 500: Internal Server Error` and we can't save a file we don't have.
So when you re-run, the file is still not here, so its try a new time to download it and show a new time error.

[2017-07-12 09:47] #65 closed

[2017-07-14 15:10] okkebal opened #66 "Latest ZIMs don't work"
I've created some test ZIM's to test the changes I made, all seems fine, but these latest versions that are on download.kiwix.com do not open. I get a white screen, even on subsites that I rendered myself and work fine.

For example: http://download.kiwix.org/zim/stack_exchange/ai.stackexchange.com_en_all_2017-07.zim  does not open in the Windows version.

[2017-07-14 16:00] kelson42 commented on #66
I confirm the problem

[2017-07-14 16:02] kelson42 commented on #66
I should have removed all the problematic files from http://dwonload.kiwix.org/ and currently regenerating the library.xml, etc... I will investigate later was went wrong with this.

[2017-07-15 07:48] kelson42 commented on #66
The bug seems to have disappear with the last version of the libzim. New stackexchange ZIM files should be OK now. A new run should be done lately end of august. Thank you very much for reporting that problem.

[2017-07-16 10:46] kelson42 opened #67 "Crash by SO ZIM creation"
work/stackoverflow_com/output/tag/gkmatchmaker
work/stackoverflow_com/output/tag/pointcuts
work/stackoverflow_com/output/tag/unity3d-editor
work/stackoverflow_com/output/tag/jawbone
Creating ZIM files
	Writing ZIM for Stack Overflow   Where Developers Learn, Share, & Build Careers
Traceback (most recent call last):
  File "/media/kelson/SOTOKI/venv/bin/sotoki", line 11, in <module>
    sys.exit(ru

[2017-07-16 14:49] dattaz commented on #67
Release in 0.8.1

[2017-07-17 19:00] kelson42 commented on #67
It sill crash for me, we what should be the last version (but sotoki --version) seems to not print the full version (get only "0.8")

[2017-07-17 19:14] dattaz commented on #67
it's should be 0.8.1
I thing you have a problem with update :
[code]

[2017-07-17 19:20] kelson42 commented on #67
ok, wrong update on my side.

[2017-07-17 19:20] #67 closed

[2017-07-19 20:11] kelson42 commented on #61
https://github.com/kiwix/kiwix-lib/issues/70

[2017-09-02 17:18] okkebal commented on #66
There are still many broken stackexchange zim files on download.kiwix.org. So when is the new run coming?

[2017-09-28 12:46] okkebal commented on #66
@kelson42 Please make a run of the StackExchange, Its already end of September, and you said it would run end of august at the latest.

The current StackExchange files are broken or old layout, if this run works we should have very useful files.

Pending this issue: https://github.com/kiwix/kiwix-lib/issues/70 it would also work on Android.

[2017-10-18 11:34] Popolechien commented on #66
Had additional reports of broken files via OTRS:

http://download.kiwix.org/zim/stack_exchange/android.stackexchange.com_en_all_2017-07.zim
http://download.kiwix.org/zim/stack_exchange/networkengineering.stackexchange.com_en_all_2017-07.zim
http://download.kiwix.org/zim/stack_exchange/programmers.stackexchange.com_en_all_2017-07.zim

"No active ZIM file, please load one first". MD5 hash is good an

[2017-10-23 11:11] kelson42 commented on #66
Related to https://github.com/openzim/zimwriterfs/issues/18

[2017-10-23 16:17] mgautierfr commented on #66
I confirm the issue.

Is it possible to have a "simple" command line to regenerate a zim file ? (`networkengineering.stackexchange.com_en_all_2017-07.zim` is pretty "small", it would be a good candidate for test).

It is pretty difficult to debug zimwriterfs/libzim only with a wrong zim file. Having a reproducer would be great.

[2017-10-23 16:52] kelson42 commented on #66
@mgautierfr not so far, but I can try to have a look. The whole stuff is done with sotoki (in Python). You could maybe try again by yourself? The README should explain it quite well.

[2017-10-23 16:54] kelson42 commented on #66
One system has a version of June 27th. I would say the bug has appeard around June, but I can not argue if the bug has not been fixed meanwhile. I think the best now is to try to get a reproduction case.

[2017-10-23 21:05] dattaz commented on #66
If you need a very small zim from sotoki use ```esperanto.meta.stackexchange.com``` as argument for [domain of stackechange website]

[2017-10-24 04:39] kelson42 opened #68 "Problem by URL rewritting"
I think I have found a URL rewritting bug.

It concerns last created file:
http://download.kiwix.org/zim/stack_exchange/dsp.stackexchange.com_en_all_2017-10.zim

In the article:
A/question/741/Why-should-I-zero-pad-a-signal-before-taking-the-Fourier-transform.html

The first link points to "previous question" is dead.

[2017-10-24 04:39] kelson42 commented on #68
@okkebal @dattaz Any idea?

[2017-10-24 12:20] okkebal commented on #68
the adress is zim://A/Answer/59.html#a59 this is wrong, because the answers do not have seperate pages in the SE ZIM. It should link to the question page. Which in this case is zim://A/Question/736

In sotoki.py on line 670:

qans=is_a[0]
a.attrib['href']="../answer/" + qans + ".html#a" + qans

Seems to be the problem.

It should create a link to to the question page and an anchor to the question,

[2017-10-24 15:33] mgautierfr commented on #66
This issue appears when zim file is created using zlib compression (instead of lzma) with a libzim 2.0.0.
There was a bug creating the zlib cluster wrongly (already fixed in libzim 3.0.0 here : https://github.com/openzim/libzim/commit/5aedcd77781aa393af6cfcaf2b5c6eaf7aa62d2f)

This leads to invalid cluster, so invalid zim file.

The new way of reading a zim file in libzim 3.0.0 make libzim crashes

[2017-10-24 16:24] #66 closed

[2017-10-24 17:46] dattaz commented on #68
We have direct link to answers using : answer/[answer_post_id].html#a[answer_post_id] (we build it with redirection file (see [here](https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L227:L228))

Issue here it a wrong extraction of the answer_post_id  :
Link on the post : https://dsp.stackexchange.com/a/739/59
We have extract "59" has answer_post_id but it should be "739"

I'll take a

[2017-10-24 18:24] #68 closed

[2017-11-05 20:09] PharmaceuticalCobweb opened #70 "Sotoki will not install or build from pip on Arch Linux: "Command "python setup.py egg_info" failed with error code 1""
Followed the install instructions in the README. Tried to satisfy all dependencies.

**Dependencies**:
jpegoptim: https://www.archlinux.org/packages/community/x86_64/jpegoptim/
pngquant: https://aur.archlinux.org/packages/pngquant/
gifsicle: https://www.archlinux.org/packages/extra/x86_64/gifsicle/
advancecomp: https://aur.archlinux.org/packages/advancecomp/ or https://aur.archlinux.org/packages/a

[2017-11-05 20:15] kelson42 commented on #70
@PharmaceuticalCobweb Thank you for the issue, which SE ZIM file are you interested in particular? I'm currently rebuilding all of them (stackoverflow currently building)

[2017-11-05 20:31] PharmaceuticalCobweb commented on #70
I'm using quite a few of them since I'm often without an Internet connection. Not all of them are on the Kiwix site right now (still don't understand why unix.stackexchange.com isn't on Kiwix's site, it's the main one I'd like).

Top 3:
1. Unix
2. SuperUser
3. StackOverflow

Full list:
AskUbuntu
Blender
Cryptography
ElementaryOS
NetworkEngineering
Photography
Puzzling
RetroComputing
ReverseEnginee

[2017-11-06 16:44] dattaz commented on #70
About the issue, it seems to be subproccess32's fault, maybe try to install https://www.archlinux.org/packages/community/x86_64/python2-subprocess32/

[2017-11-06 19:42] PharmaceuticalCobweb commented on #70
Doesn't seem to have worked, though I didn't have it installed. Installed it got the same error:

[code]

[2017-11-06 19:48] kelson42 commented on #70
I'm not an expert, but this sounds more to be a problem with the "subprocess32" module than with sotoki?! Maybe the bug should be reported there?

Otherwise you might also give a try to our Docker image:
https://hub.docker.com/r/openzim/sotoki/

[2017-11-06 19:50] kelson42 commented on #70
@PharmaceuticalCobweb I close this ticket as it seems quite clear that there is nothing we can do on our side.

[2017-11-06 19:50] #70 closed

[2018-03-13 15:16] okkebal opened #71 "StackOverflow does not build properly?"
After more than half a year of waiting for Stack Overflow in the new design I deceided to make this issue.

Obviously there is some problem with generating the new Stack Overflow Zim file.

Anything we can do on the Sotoki side? What is failing? What is keeping a usable SO? (yes the previous version could be considered useless with this tag-page index that takes minutes to load cuz its so huge.)

[2018-03-13 15:45] kelson42 commented on #71
@okkebal What is the problem exactly?

[2018-03-13 16:17] okkebal commented on #71
The problem is there is no ZIM file for SO. At least not a recent one with the new design

[2018-03-13 16:55] kelson42 commented on #71
AFAIK we still have a small problem with the redirect file for zimwriterfs. The redirects are wrong and this slow down massively the zimwriterfs. I will open a ticket for that one.... otherwise nothing should stop us to finally make a new one.

[2018-03-14 10:06] okkebal commented on #71
Please do so. I will close this issue

[2018-03-14 10:06] #71 closed

[2018-03-16 17:38] kelson42 opened #72 "redirection.csv format is wrong"
it looks like this currently:
[code]

But the it should looks like
[code]

That means that the namespace (here `A`) should be separated from the url with a tabulation.

[2018-03-16 17:38] kelson42 commented on #72
@okkebal @dattaz Here finally the bug report.

[2018-03-16 17:41] kelson42 opened #73 "Crash by scrapping es.stackoverflow.com"
### What is your environment ?
  * browser / app : sotoki
  * version of the software you use : last pypi publish version 0.8.3
  * device / operating system : Ubuntu 16.04

#### Steps to reproduce:

[code]

And it crash somewhere in the middle:
[code]

[2018-03-17 07:19] #72 closed

[2018-03-17 08:21] #73 closed

[2018-03-17 09:52] kelson42 commented on #63
I think we should close the issue here as this is not a problem with Sotoki. We are working on kiwix-destkop 2.0 which first versions will be released in the next months. I will take care that mathjax works properly.

[2018-03-17 09:52] #63 closed

[2018-03-17 10:27] kelson42 opened #74 "Make nopic versions"
_From @amirh123123 on March 17, 2018 10:26_

hi please make stack_exchange all nopic thanks

_Copied from original issue: openzim/mwoffliner#248_

[2018-03-28 06:44] kelson42 opened #75 "A few ZIM file names have uppercase in them"
Like for example: `pt.stackoverflow.com_pt-BR_all_2018-03.zim`. I think everything should be lowercase `pt.stackoverflow.com_pt-br_all_2018-03.zim`

[2018-03-28 10:06] #75 closed

[2018-04-23 18:18] kelson42 opened #76 "Put the tag "stackexchange" to all create ZIM file"
This is necessary to somehow identify the stackexchange ZIM files.

Name should also not be empty. It should be "kiwix.<CONTENT_IDENTIFIER>" for example "kiwix.3dprinting.stackexchange.com"

[2018-04-24 09:52] #76 closed

[2018-05-23 20:19] Jaifroid opened #77 "User profiles pollute the article namespace"
We develop Kiwix JS, a JavaScript-based ZIM file reader. The reader has a random button which offers a randomly selected article for the user to read. However, because on Stackexchange ZIMs there are a lot of user profiles in proportion to articles, nearly half the time the randomization routine returns a user profile.

While we could work around this in the reader, it has been suggested by @kelso

[2018-06-05 11:10] dattaz commented on #74
do we automatically make a nopic version each time (in addition to zim with pictures) or is it an option?

[2018-06-05 14:07] dattaz commented on #77
This seems impossible, since zimwriterfs (tool we use to build zim) does not support this, and @kelson42 say me "we never implemented properly that part of the spec"

I'm totally agree that it's not something we want to have in random selection, but these page are part of the website ("who has wrote this comment/question ?").

[2018-06-06 09:11] Jaifroid commented on #77
OK, thanks @dattaz . So maybe we need to work around it in readers for now. What would you advise, @kelson42 ?

[2018-06-07 12:41] amirh123123 commented on #74
example wordpress.stackexchange.com_en_all_2018-04.zim have nany pictures but i want make wordpress.stackexchange.com_en_nopic_2018-04.zim dont have pictures just text

[2018-06-07 15:28] dattaz commented on #74
This will work in the next release

[2018-06-07 15:28] #74 closed

[2018-06-09 12:18] kelson42 commented on #74
@dattaz Thx for implementing this. You mean `--nopic` I suppose?

[2018-06-09 12:20] kelson42 commented on #77
@dattaz Would that be complicated to provide an option to avoid scrapping the profiles? I'm not really sure about the added value.

[2018-06-09 16:49] dattaz commented on #74
Yes, `--nopic` sorry :(

[2018-06-09 16:55] dattaz commented on #77
No, it's doesn't seems complicated

[2018-06-09 18:05] kelson42 commented on #77
@dattaz Seems to me the best workaround to just remove them - but we need to be sure no link point to them (anymore).

[2018-06-11 08:17] #77 closed

[2018-06-11 08:18] dattaz commented on #77
We now have option `--no-userprofile`

[2018-06-11 08:22] Jaifroid commented on #77
Thank you, @dattaz . I was also thinking that this might be a wise move given GPDR. Although users may be deemed to have accepted publication of information about their alias on Stackexchange, do we want to deal with the question of whether they have given permission for that information to be "republished" in a ZIM archive that may persist indefinitely and that they cannot easily edit? Maybe this

[2018-06-13 16:44] kelson42 opened #78 "zimwriterfs complains of lot of invalid redirection"
Here is (a small part of) the log
[code]

[2018-06-13 17:10] dattaz commented on #78
What surprising is the redirection redirect to same path. It's seems really strange for me to have this...(I just check the code, for the moment i do not understand how we can have this result....)
Can you send me redirect.csv ? I haven't them in the redirect.csv you provide me month ago.

Users with this problem seems to follow in user id, is this the same problem with all users?

[2018-06-13 18:11] kelson42 commented on #78
@dattaz Here it is http://tmp.kiwix.org/redirection.csv

[2018-06-13 20:18] dattaz commented on #78
We have issue in libzim, it's harder to debug.....anyway, a just check `redirection.csv`, in this file path are ok.
So the problem is some files for any reasons are not write/not write at good place, can you also provide me a list of path, with `find [work/stackoverflow_com or something like that]  -type f > path_stackoverflow_13_06_18`. Thanks

[2018-06-14 06:37] kelson42 commented on #78
@dattaz Please open a ticket on libzim side, I have no time in the next 4 days to handle that, but @mgautierfr might.

[2018-06-15 13:11] dattaz commented on #78
I just try to reproduce, i extract these user from stackoverflow dump, and put them in a smaller dump, no issue.I'll try with all user
I also have try superuser.com,which is one of biggest stackexchange site, I haven't got any issue with redirection like this one. (but i found 3 mirror that i've fix)

[2018-06-16 11:58] dattaz commented on #78
I just generated all user from stackoverflow and I still not reproduce (all path in redirection.csv are present in file system...) :thinking:

[2018-06-16 14:02] kelson42 commented on #78
@dattaz So the problem is that someone the zimwriterfs does not do what it should.? The redirection file is OK?

[2018-06-16 14:17] kelson42 commented on #78
@dattaz OK, the error msg is wrong in the log, the targeted url is always the same as the source. Should be ok in next nightly.

[2018-06-16 19:20] dattaz commented on #78
@kelson42 yes apparently something wrong, i think with zimwriterfs, with information that i have. But i'll be sure if you can provide me working tree (`find [work/stackoverflow_com or something like that] -type f > path_stackoverflow_13_06_18`) to check if files are really present, thanks

[2018-07-02 07:35] dattaz commented on #78
Bug is on sotoki side, only 3 226 079 users profiles are produce (normally ~8 500 000)

[2018-08-30 06:00] kelson42 commented on #49
This bug has reappeared in the last version

[2018-08-30 06:06] kelson42 commented on #78
Seems to work now, but the one I have generated was "without profiles"... so not sure the bug is fixed. But let consider it is the case.

[2018-08-30 06:06] #78 closed

[2018-09-06 16:29] dattaz commented on #50
Exemple : http://library.kiwix.org/stackoverflow.com_en_all_2017-05/A/tag/html/1.html

[2018-09-06 16:54] #50 closed

[2019-01-27 08:06] kelson42 commented on #60
@dattaz Seems to not work well (I see a `<files>` at the first line):
[code]

[2019-01-27 20:49] #60 closed

[2019-01-28 06:15] kelson42 commented on #60
@dattaz thx

[2019-02-09 13:26] kelson42 opened #80 "Crash with moderators.meta.stackexchange.com"
[code]

I suspect this is because this is an old site, but still it should not crash. Do we support at all old sites>

[2019-02-09 15:04] dattaz commented on #80
This site does not exist so it is OK. It's seem this stackexchange site has been rename to communitybuilding.meta.stackexchange.com without redirection (based on the fact that moderators.stackexchange.com redirect to communitybuilding.stackexchange.com). Dump still have older name (moderators.[...]).

Also why we do meta website ? ([What's meta](https://meta.stackexchange.com/help/whats-meta))

[2019-02-09 16:19] kelson42 commented on #80
@dattaz Might that be possible to build a special handling specifically to that web site?

[2019-02-09 17:24] dattaz commented on #80
For meta web site ?
Something like `bash list_all.sh | grep -v "meta.stackexchange.com"` ? I update list_all.sh to not like meta website ?

[2019-02-09 17:26] kelson42 commented on #80
@dattaz It is not a problem with all "meta" web site, only with this one AFAIK. So I think if someone run sotoki with `moderators.meta.stackexchange.com`, then it run `communitybuilding.meta.stackexchange.com`. And this is special handling only for that web site.

[2019-02-09 22:01] #80 closed

[2019-02-09 22:03] dattaz commented on #80
Done.
We should check at next release of stackexchange dump if name of the dump is update to communitybuilding.

[2019-02-10 10:36] kelson42 opened #81 "Crash wit productivity.meta.stackexchange.com"
[code]

Same as #80?

[2019-02-10 10:37] kelson42 opened #82 "Does is make sense to mirror all "meta" web sites"
@dattaz What is their content? It seems that each forum has its meta counterpart. Does that really make sense to you?

[2019-02-10 10:38] kelson42 commented on #81
Same for  productiviy.stackexchange.com

[2019-02-11 07:43] kelson42 commented on #81
Same problem with arabic.meta.stackexchange.com and arabic.stackexchange.com

[2019-02-12 18:22] dattaz commented on #82
For their content see : [What is meta](https://meta.stackexchange.com/help/whats-meta)
For me no, there is no sense

[2019-02-12 18:27] dattaz commented on #81
Same as #80 , I will think about a way to automatically deal with this situation...
I think they also change something because `arabic.stackexchange.com` should have been catch correctly...

[2019-02-12 18:41] kelson42 commented on #82
@dattaz Agree, should we modify list_all.sh to remove them?

[2019-02-16 13:14] kelson42 opened #83 "Stackoverflow.com is not listed by list_all.sh"
[code]

[2019-02-16 13:23] kelson42 commented on #83
Fixed

[2019-02-16 13:23] #83 closed

[2019-02-16 13:24] kelson42 commented on #82
Fixed

[2019-02-16 13:24] #82 closed

[2019-02-24 08:32] kelson42 opened #84 "Use in-memory image optimizer"
The current solution generates a lot of IO by writting, reading and re-writting images on the fs for optimisation.

[2019-02-24 12:23] kelson42 opened #85 "Sotoki fills /tmp with temporary data"
[code]

[2019-02-24 12:24] kelson42 commented on #85
@dattaz Implementing #84 would probably avoid this!?

[2019-07-22 18:47] kelson42 opened #86 "Problem with C# tag link on the homepage"
Tested with `stackoverflow.com_en_all_2019-02.zim` the link the not open the proper page. The reason is that it is `../I/tag/c%23/1.html` and it should be `../A/tag/c%23/1.html`.

First reported at https://github.com/kiwix/kiwix-js/issues/359

[2019-07-25 20:14] adrian-azad commented on #86
i'll check that when i find some time to investigate, but it's seems more a zimwriterfs issue no ? (wrong namespace)

[2019-07-25 20:15] dattaz commented on #86
I'll check that when i find some time, but seems more a zimwriterfs issue no ? (wrong namespace)

[2019-07-25 20:19] kelson42 commented on #86
@dattaz thx, you might be right even if I wonder about this could go wrong.

[2019-08-27 16:03] rgaudin opened #87 "Use new tagging system"
In order to update ZIM files to the [new tagging system](https://wiki.openzim.org/wiki/Tags), please make sure your scraper:

* is using the lastest zimwriterfs (`1.3.5+` or `:latest` docker image). It supports new options and fixes important metadata (tags, favicon) and LZMA compression level.
* is including a `_category:xxx` tag (See [kiwix-tools#317](https://github.com/kiwix/kiwix-tools/issues/

[2019-08-31 10:39] kelson42 commented on #87
@dattaz Do you think you could help here?

[2019-08-31 10:41] kelson42 opened #88 "Introduce changelog"
To better track changes beetween releases

[2019-09-01 13:44] dattaz commented on #87
Yes i think i can do it next week.

Note : https://openzim.org/wiki/Metadata

[2019-09-01 13:48] kelson42 commented on #87
@dattaz Thank you! We are a bit moving on with all the scrapers in Python. Introducing one by one to the new Zimfarm system first, but also making a new maintenance round to help to fix the few pending bugs, improving the codefactor note, even introducing CI with automated tests and Travis CI. So, a bit of work to do :]

[2019-09-02 18:24] kelson42 opened #89 "Sotoki should be installed from the source code in Docker"
Not from pypi, because otherwise we have no guaranty that the git code revision is the one installed in the Docker hub and this has many bad consequences. For example impossibility to tag easily the Docker images.

[2019-09-06 17:47] #87 closed

[2019-09-06 17:47] #89 closed

[2019-10-29 14:48] andre-paulo98 opened #91 "Script seems stuck after downloading, a warning message would be welcome"
I'm running this on Ubuntu on Windows 10 (the simple one you get from the Store)
I ran the command like: `sotoki stackoverflow.com Kiwix --threads=12 --reset --clean-previous --no-userprofile`

After a long time, after finishing the download for stackoverflow.com-Users.7z it just got stuck
[code]
And it's just stuck on that. I can't find a zim file, the execution is not over, should I keep waiting

[2019-10-29 18:33] andre-paulo98 commented on #91
Its been around 8 hours since the last line. Is it still doing anything? Can I somehow stop and continue with the script (without having to download everything again)?

[2019-10-29 22:57] andre-paulo98 commented on #91
It finally started doing something.
The script is doing something with images.
Maybe a warning should be added before this part of the processing that it might take a long time for the next step would be usefull.

[2019-10-30 07:52] kelson42 commented on #91
@andre-paulo98 Would you be able to propose a PR?

[2019-10-30 21:19] andre-paulo98 commented on #91
I would do a PR, but my Python knowledge is very close to 0

[2019-11-04 13:02] dattaz commented on #91
it decompresses a large file, it may take time.
You can add a message just before this line: https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L890

[2020-01-04 12:53] kelson42 opened #92 "Move from Python2 (and abandon it) to Python3"
Looks like Sotoki is in Python2, it should be moved to Python3.

[2020-01-05 09:37] dattaz commented on #92
Most of the work can be done with `2to3` (https://docs.python.org/3.9/library/2to3.html) but require to take time to check everything work correctly after that (or introduce test :smiley_cat:  )

[2020-01-05 09:40] kelson42 commented on #92
@dattaz If you fix it, I'm volunteer to test it.

[2020-01-05 18:07] kelson42 opened #93 "Impossible to scrape portuguese.stackexchange.com"
[code]

dies and give:
[code]

See https://farm.openzim.org/pipeline/5e10dc76befd34b6532bfcf2/debug

[2020-01-05 18:08] kelson42 commented on #93
@dattaz Would you be able to help on this one? We are setuping currently the whole periodic and automatic SE scraping with Sotoki in the Zimfarm.

[2020-01-06 18:25] amirouche commented on #93
It is probably better to try to fix after the move the Python 3 (https://github.com/openzim/sotoki/issues/92) because Python 3 provides some enhancement regarding unicode.

Also I am wondering why `ascii` codec is in the mix, it should not happen, since IIRC stackexchange dump is utf-8.

[2020-01-06 18:39] kelson42 commented on #93
This happens on ~ 3-4 SE sites, all of them related to non-english languages. So, I guess the charset mgmt is wrong somewhere.

[2020-01-07 10:37] amirouche commented on #92
Do we want to support both Python 2 and Python3?

I vote for python 3 only support.

[2020-01-07 10:44] kelson42 commented on #92
@amirouche Python3 support only.

[2020-01-10 21:17] dattaz commented on #93
No before 2 weeks sorry :/

[2020-01-11 09:15] kelson42 commented on #93
@dattaz If you could do this migration in 2 weeks, that would be already great!

[2020-01-19 18:34] kelson42 commented on #93
Fixed with https://github.com/openzim/sotoki/commit/acb279f523e00e31679cbd28e6866fa74e278bfc

[2020-01-19 18:34] #93 closed

[2020-01-19 19:29] dattaz commented on #92
First try with 2to3 is done on `to_python3` branch.
Still need debug.

[2020-01-21 21:21] dattaz opened #95 "Redirection format for zimwriterfs?"
Using docker `openzim/zimwriterfs:latest`, `zimwriterfs` seems to not understand redirection file.
Exemple in redirection file :
[code]

Log from zimwriterfs  :
[code]

[2020-02-20 11:55] move[bot] opened #96 "Incorrectly built physics.stackexchange.com_en_all.zim"
*@tigran123 commented on Feb 20, 2020, 11:53 AM UTC:*

I would like to report a serious bug in the zim file of physics.strackexchange (the 3GB file download from [http://download.kiwix.org/zim/physics.stackexchange.com_en_all.zim](http://download.kiwix.org/zim/physics.stackexchange.com_en_all.zim) with MD5 checksum 5d40859320f27ad9839ffe0ce845be3d ). The problem is that during the creation of the

[2020-02-20 11:58] kelson42 commented on #96
@tigran123 I confirm the problem, for example here http://library.kiwix.org/physics.stackexchange.com_en_all/A/question/111006.html, see comment with "58" points.

[2020-02-20 12:01] kelson42 commented on #96
We talk here from math.stackexchange.com_en_all_2019-02.zim (OK) and https://download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-01.zim (NOK). Looks like something has been broken somewhere (maybe only in the Docker container)?

[2020-02-20 13:02] tigran123 opened #97 "Question links are wrong in ru.stackoverflow.rom_ru_all.zim"
Downloaded the 3GB file http://download.kiwix.org/zim/ru.stackoverflow.com_ru_all.zim (MD5 c84b59672a50f9f1cb43bc9b1c49ff96) and opened in Chrome browser (running kiwix-serve on the server). But clicking on any of the questions results in an error like this:

[code]

I tried searching and it gives the list of search results, but clicking on any of the items results in the same error as above.

The

[2020-02-20 13:21] kelson42 commented on #97
@tigran123 Thank you for this new bug report. I confirm the problem. It seems that all the articles are there. The article your search is available at http://library.kiwix.org/ru.stackoverflow.com_ru_all/A/question/1811.html. The problem is that the link in the home page is wrong for some kind of reason!

[2020-02-20 13:23] kelson42 commented on #97
@dattaz Would you be able to have a look to that one as well?

[2020-02-20 21:31] dattaz commented on #96
We have a hardcoded list of domain using Mathjax since I didn't manage to find a way to detect it automatically. Maybe I should look again.
Anyway, I added it

[2020-02-20 21:35] kelson42 commented on #96
@dattaz Why not adding it everywhere?

[2020-02-20 21:36] dattaz opened #98 "Automatically detect mathjax (or put it everywhere)"
Follow of #96
We should automatically detect mathjax domain.
Currently, we have an hardcoded list of domain, which can (should) be update with `sotoki/find_mathml_site.sh` script.

[2020-02-21 08:20] tigran123 commented on #96
Of course you should add MathJax _always_ --- because every decent website uses formulae (e.g. all four of my websites do). I can't think of any website which has no mathematical formulae in it (or, more correctly, I wouldn't ever visit such junk/useless website).

[2020-02-21 08:24] kelson42 commented on #96
@dattaz Would that be possible to get ride of that web site list and just add it everywhere? I can not figure out how this can impair web site not using it... and like @tigran123 said, potentially alls SE web site use it as this is just a feature offered by the platform.

[2020-02-21 08:25] kelson42 commented on #96
I fin

[2020-02-21 08:25] kelson42 commented on #98
@dattaz Would that be possible to get ride of that web site list and just add it everywhere? I can not figure out how this can impair web site not using it... and like @tigran123 said in comment of #96, potentially alls SE web site use it as this is just a feature offered by the platform.

[2020-02-21 08:28] tigran123 commented on #96
@kelson42 made a better point than I did --- namely, if stackexchange platform offers such feature as support for MathJax, it would be _logically_ correct to always support it instead of using heuristical hardcoded list which is bound to always be out of date. Please understand that the usage of formulae is not some "feature of the domain of knowledge", but rather an indication of a type of "symbo

[2020-02-21 08:32] tigran123 commented on #98
@kelson42 made a better point than I did --- namely, if stackexchange platform offers such feature as support for MathJax, it would be logically correct to always support it instead of using heuristical hardcoded list which is bound to always be out of date. Please understand that the usage of formulae is not some "feature of the domain of knowledge", but rather an indication of a type of "symboli

[2020-02-21 08:35] tigran123 commented on #98
Let me clarify my point by giving an example. Here it is, check it out:

https://philosophy.stackexchange.com/questions/63942/what-is-the-barcan-formula

This is a "philosophy" question, the subject which you judged to be devoid of mathematical formulae --- and, lo and behold, I instantly found the use of formulae therein, as you can see for yourself.

[2020-02-21 08:41] tigran123 commented on #98
Actually, this may be a more subtle issue, than initially thought. Namely, the "philosophers" seem to be hardcoding primitive Unicode symbols when writing math formulae, instead of using LaTeX, see here:

https://philosophy.stackexchange.com/questions/28312/subformulas-of-the-wff-%e2%88%80x-%e2%88%80y-x-%e2%88%88-y-%e2%88%a8-y-%e2%88%88-x/28317#28317

And when someone attempted to use LaTeX it dis

[2020-02-21 17:37] dattaz commented on #98
I agree with you to get ride of this list. I can't remember why we did not adding on all site, but I remember that there is a reason. I'll take a look at the history to find why.

[2020-02-21 17:43] dattaz commented on #97
This is maybe related to #95 ...
I'll take a look..

[2020-02-22 18:33] kelson42 opened #99 "Stackoverflow fails: Unable to prepare xml"
[code]

See https://farm.openzim.org/pipeline/5e50cfe60f16c4aab0527667/debug

[2020-02-23 15:49] kelson42 commented on #99
@dattaz Sorry, I have found an other one :(

[2020-02-23 15:54] kelson42 commented on #95
@dattaz I had a look and this looks like a serious bug in zimwriterfs. What are the step to reproduce it (sotoki command)?

[2020-02-23 21:14] tigran123 commented on #96
When can we expect a new physics.stackexchange zim file rebuilt? The current one on the Kiwix Content page is still the broken one (with 5d...3d md5).

Also, why not build a single stackexchange zim file containing all domains? I downloaded a 134GB stackoverflow zim file and it works absolutely fine. It would be nice to have a similar global stackexchange file.

[2020-02-24 09:55] kelson42 commented on #96
@tigran123 I hope @dattaz will be able to fix the 2-3 bugs recently detected and make a new release. We would have then to run the scrapper. For now the ETA is 2 weeks for that. Don't forget this is volunteer work, this is provided without any guaranty :)

[2020-02-24 09:57] tigran123 commented on #96
@kelson42  Thank you. Of course, my brothers, I understand and highly respect your dedication to the unselfish service to mankind :)

[2020-02-26 16:46] HAKSOAT commented on #84
Hello @kelson42 could you help with pointers regarding this issue? I currently do not know what `fs` means, neither do I know where the current solution lies in the code base.

[2020-02-26 17:00] kelson42 commented on #84
« Fs » means filesystem. I don’t have code Sotoki, but part of it recomputes all images with tools like jpegoptim or pngquant... they all write temporary things to the fs which is slow.... we should find a better solution by writing to /dev/shm for example or use in-memory optimization.

[2020-02-26 17:01] HAKSOAT commented on #84
Okay. Thanks.

[2020-02-28 17:20] rgaudin commented on #95
Could fix it but am not sure where the fix should actually be placed. will sort that out with @kelson42

[2020-02-28 18:43] kelson42 commented on #92
Done

[2020-02-28 18:43] #92 closed

[2020-02-28 19:37] #98 closed

[2020-02-28 21:08] kelson42 commented on #99
I suspect we just had too few memory

[2020-02-28 21:08] #99 closed

[2020-02-29 10:52] #91 closed

[2020-02-29 17:48] kelson42 commented on #81
Closed forum

[2020-02-29 17:48] #81 closed

[2020-02-29 17:56] rgaudin commented on #86
Looks like the `#` is interpreted as the _hash_ separator of the URL so zimwriterfs considers the leaf to be `/c` and does not recognize it as being part of the `/A` or `/-` namespaces (has this is based on extension), hence defaulting to `/I`.

Closing this and opening a specific one on zimwriterfs.

[2020-02-29 17:56] #86 closed

[2020-02-29 18:45] dattaz commented on #95
Just run sotoki.

Exemple : `sotoki 3dprinting.meta.stackexchange.com Kiwix --threads=1 --reset --clean-previous --no-userprofile --nopic`
which will call zimwriterfs like that :
[code]

Attached : redirection.csv
[redirections.csv](https://github.com/openzim/sotoki/files/4270766/redirections.txt)

[code]

[2020-02-29 18:47] rgaudin commented on #95
@dattaz, I already mentioned I found the root cause and assigned myself… Need to check with @kelson42 what is the expected behavior to place the fix in either zimwriterfs (most probably), libzim or sotoki.

[2020-02-29 18:48] kelson42 commented on #85
@dattaz Younconfirm?

[2020-02-29 19:22] dattaz commented on #85
Yes if in we use memory image optimizer.
But if we continue to use ImageMagick (through different tools), this will continue (https://www.imagemagick.org/discourse-server/viewtopic.php?t=23649) however it would be good to see why this happens.
I dont think #101 will fix it

[2020-03-02 09:14] rgaudin commented on #95
@dattaz, here's the issue openzim/libzim/issues/298

[2020-03-02 11:29] #95 closed

[2020-03-02 11:39] #88 closed

[2020-03-02 11:47] kelson42 commented on #97
@rgaudin @dattaz Do you think we can close that one?

[2020-03-02 11:53] rgaudin commented on #97
It could not work without #95 being fixed. Just confirmed (on a smaller ZIM) that this is fixed as well.

[2020-03-02 11:53] #97 closed

[2020-03-02 13:34] kelson42 opened #104 "Introduce support of optimization cache using S3"
Like in MWoffliner, see https://github.com/openzim/mwoffliner/issues/996 and in Youtube, see https://github.com/openzim/youtube/issues/69

[2020-03-02 15:45] #85 closed

[2020-03-04 07:46] #84 closed

[2020-03-07 11:29] dattaz opened #107 "Use zimscraperlib to build zim"
Currently we have our own code to interface with zimwriterfs to build zim file after generating all content.
Code : https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L1176:L1312

We should use our new https://github.com/openzim/python_scraperlib instead.

[2020-03-07 12:12] dattaz opened #108 "Error with mistune"
Apparently, sometime mistune, which do markdown to html crash.
We should investigate and fix this issue.

Step to reproduice :
[code]

[code]

[2020-03-07 12:32] dattaz opened #109 "Remove resize_image_profile and use download_image"
Remplace https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L995:L996 with call to `download_image`

and remove https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L1000:L1005

[2020-03-07 12:35] dattaz opened #110 "Simplify pre-processing process"
Since we use SAX driver for parsing XML, we reformate and interweave XML dump before processing.
This is done using UNIX tools like sed, sort and some custom python script. See `prepare_xml.sh`.

We may need to simplify this process because it takes a significant part of the process (depend of dump but up to 30% of preparation+html generation)

[2020-03-07 13:25] kelson42 opened #111 "All SE ZIM files created on the Zimfarm are missing images"
For example:
* 3dprinting.stackexchange.com_en_all_2020-01.zim          2020-01-06 10:17  198M
* 3dprinting.stackexchange.com_en_all_2020-03.zim          2020-03-06 20:56   26M

The log shows that we have a storage problem (not enough space)
[code]

But in fact, there is not reason to see this problem. We should have enough disk storage, see recipe:
https://farm.openzim.org/recipes/3dprinting.stac

[2020-03-07 13:38] kelson42 opened #112 "$sotoki --version is wrong"
[code]

`pip` says it installs `sotoki-1.2` but the version printed is `1.0`.

[2020-03-07 14:15] dattaz commented on #112
Version is specify at :
- https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L1316
- https://github.com/openzim/sotoki/blob/master/setup.py#L11

We should harmonize it, and only specify it one time

[2020-03-07 15:06] dattaz commented on #111
The images were kept when their conversion failed, which fill /dev/shm
Fix with #113 (and 56c6f1b)

[2020-03-07 15:14] dattaz opened #115 "Get more robust filetype identification"
On https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L841, function `get_filetype`
We identify using headers or mine type with magic.

If we did not find something we know with headers we should fall back on magic identification (currently : return "none")

[2020-03-07 15:46] rgaudin opened #116 "Crash on lack of disk space"
ATM, when there's not enough free space on disk (or `/dev/shm`), the process prints error and continues.
It's an error and it should properly crash.

[2020-03-07 15:51] rgaudin commented on #115
Also we might want to switch the magic lib we use (https://github.com/ahupp/python-magic seems better)

[2020-03-14 09:18] kelson42 commented on #97
Definitly fixed in last version of the ZIM file https://download.kiwix.org/zim/stack_exchange/ru.stackoverflow.com_ru_all_2020-03.zim

[2020-03-19 11:59] kelson42 commented on #96
@tigran123 New version of the ZIM file (with fixed formulas) is available online since a few days http://mirror.download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-03.zim

[2020-03-19 12:01] tigran123 commented on #96
Thank you, I will install it and will report if anything is still wrong. Thanks for the excellent work, guys! :)

[2020-03-19 12:25] tigran123 commented on #96
No, it still doesn't work. But for some reason I can't re-open this issue, only comment. Please re-open the issue as this zim file is utterly broken (I checked MD5 checksum and it matches, so I donwloaded it correctly). Namely, the pictures are missing. In the old version the pictures were present but the formulae were not rendered. Now the formulae are rendered but images are missing, which is ev

[2020-03-19 12:29] kelson42 commented on #96
@tigran123 http://library.kiwix.org/physics.stackexchange.com_en_all/A/question/111006.html displays properly. Which article do you look at to check?

[2020-03-19 12:33] tigran123 commented on #96
@kelson42 The URL you gave does not display correctly. Here is the screenshot:

[http://www.bibles.org.uk/screenshots/kiwix.png](http://www.bibles.org.uk/screenshots/kiwix.png)

[2020-03-19 12:49] rgaudin commented on #96
Don’t see the picture neither, only user profile ones

On Thu, Mar 19, 2020 at 12:33 Tigran Aivazian <notifications@github.com>
wrote:

[2020-03-19 12:51] kelson42 commented on #96
@tigran123 I confirm, sorry.
@dattaz Images are still missing and ZIM file is still half the size. Could you please have a look, or basic problem around images we wanted to get fixed in 1.2.1 seems to be still there (see full log here https://farm.openzim.org/pipeline/5e60914dc95492289751b44b/debug)

[2020-03-19 16:45] dattaz commented on #96
1.2.1 was released ~ 2020-03-07 15:59:40 (commit date)
This zim pipeline started : March 6, 2020 1:30 PM

I hope this is the issue.

[2020-03-19 16:48] kelson42 commented on #96
I confirm, I had checked (but not properly) the image https://api.farm.openzim.org/v1/tasks/5e60914dc95492289751b44b... and you see this is `1.2` not `1.2.1`... you are probably right.

[2020-03-19 16:49] rgaudin commented on #96
This was run on [`1.2.1`](https://api.farm.openzim.org/v1/tasks/5e640009db57982c41cc5ab1).

[2020-03-19 16:49] dattaz commented on #96
But where is this one ? https://farm.openzim.org/pipeline/5e640009db57982c41cc5ab1 that should be OK ?

[2020-03-19 16:56] rgaudin commented on #96
That's http://download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-03.zim and the file serving http://library.kiwix.org/physics.stackexchange.com_en_all_2020-03/A/question/111006.html

[2020-03-19 17:00] kelson42 commented on #96
@dattaz There is the bug in 1.2.1

[2020-03-19 17:04] dattaz commented on #96
:unamused:
I'm investigating

[2020-03-19 20:15] dattaz commented on #111
I'm reopen this after comment in #96
There is no image inside except identicon
Size (physics.stackexchange.com_en_all_2020-03.zim) is 1.0 GB, last one (physics.stackexchange.com_en_all_2020-01.zim ) was 2.9G
And we have the same logging "No space left on device" ...

[2020-03-19 20:21] rgaudin commented on #111
We’ll look into increasing shm size (might default to 1G) but we need sotoki to crash on lack of space otherwise this will become a maintenance nightmare:)

[2020-03-20 09:10] dattaz commented on #111
Yes it's #116
But also sotoki should not fill all shm memory...

[2020-03-20 10:48] kelson42 commented on #111
@dattaz I have restarted the process but with this time 3GB of memory (instead of 1GB) and the result seems to be exactly the same (the ZIM file makes only 1GB). See the run details here https://farm.openzim.org/pipeline/5e73d7dcf84f30df2289c115. Do you think you would be able to have a look to the pb this WE?

[2020-03-20 10:54] rgaudin commented on #111
Based on [docker docs](https://docs.docker.com/engine/reference/run/), we shall set the `/dev/shm` size ourselves.

[code]

So it seems the default is `64MB` for `/dev/shm`. Not that it should solve anything but that should give us a hint on how common hitting this quota might be.

Keep in mind that we also send the imagemagick garbage in there.

[code]

[2020-03-20 10:56] kelson42 commented on #111
64 MB is quite a bit to save temporarily pictures. We have not problem for Wikipedia, I hardly see how this could/should be a problem for SE.

[2020-03-20 10:58] dattaz commented on #111
Oh that maybe the problem...

I'll try to have a look this week end, if i can reproduce it and analyzed it

[2020-03-20 11:01] rgaudin commented on #111
As I said, we place the files left behind imagemagick's failed conversion there. You were the one creating an issue saying that those files filled-up `/tmp` so you probably understand how this might go over 64M.

[2020-03-27 21:10] satyamtg commented on #115
Hey @dattaz @rgaudin , is this issue already fixed? I can see that the function falls back to magic for mime type identification.

[2020-03-27 21:15] kelson42 commented on #115
@satyamtg No, want to help and propose a PR?

[2020-03-27 21:18] satyamtg commented on #115
Yes. I really want to do that. Looking into the issue.

[2020-03-28 10:32] satyamtg commented on #115
Hey @kelson42 I have fixed this and made a PR. It also switches to python-magic as pointed out by @rgaudin. However, I feel this piece of code is quite shareable and should be implemented in scraperlib. Will add this to my proposal.

[2020-03-28 11:35] satyamtg commented on #109
Hey @dattaz did a quick fix. Have a look here https://github.com/openzim/sotoki/pull/118

[2020-03-28 14:10] satyamtg commented on #107
Hey @dattaz I'm working on it. Also, there are some other things that we can include in scraperlib as this scraper (in my opinion) contains a lot of code that is shareable.

[2020-03-28 15:15] rgaudin commented on #107
@satyamtg, sure there are ! Yet for easier review and quicker merge, let's do it pieces by pieces.

[2020-03-28 15:18] satyamtg commented on #107
Yup sure. I actually meant that lets solve this issue now and in the near future shift to scraperlib piece by piece.

[2020-04-01 12:35] satyamtg commented on #107
@dattaz @rgaudin , it seems that in the ZimInfo class in `zimscraperlib.zim`, we don't have enough attributes to use it for ZIM creation in `sotoki`. `sotoki` has many extra `zimwriterfs` arguments such as `--inflateHtml` `--redirects` `--flavour`, and `--source `. Currently, there's no way to generate these extra zimwriterfs arguments even if we add these attributes to the `ZimInfo` class using t

[2020-04-02 11:41] rgaudin commented on #107
Hey, thanks for looking into this. Before you invest too much time on this, it's important to state that `zimwriterfs` is the historical way of writing ZIM files but definitely not the future.

Yesterday, a first PR was sent to the python-libzim repo so this is moving fast and the first candidate or zimwriterfs->binding is sotoki (and that would be done by the ones writing the binding).

So, I sug

[2020-04-02 11:41] #107 closed

[2020-04-02 15:10] #115 closed

[2020-04-02 15:22] #109 closed

[2020-04-04 11:06] satyamtg commented on #111
Had a look at this. Although I didn't reproduce the problem, in my early investigation, I don't see any reason for temporary downloaded images to eat up the space. It seems to be happening due to imagemagick's garbage in my initial investigation. I'll try to reproduce it today and see if I can solve this.

Also, @rgaudin @kelson42 , as written [here](https://www.imagemagick.org/discourse-server/vi

[2020-04-04 11:07] kelson42 commented on #111
@satyamtg Have you tried to run in docker exactly like here? https://farm.openzim.org/pipeline/5e73d7dcf84f30df2289c115

[2020-04-04 11:15] satyamtg commented on #111
I'll do it today. I was trying to look into the history and get a clear Idea of what things can cause the problem before actually reproducing it and trying to solve it.

Also, I think we can check the free before downloading an image to make sotoki crash properly as mentioned in #116 . However, it may result in degraded performance (will look into this later).

[2020-04-06 10:09] rgaudin commented on #111
No we should not do that, as you suggested it would be bad on performance.
I think we should check the result of each of those commands and maybe parse the output on failure to classify those failure (and be able to report them) and in case the cause if that it can write to the destination, then it should crash.

Note that you need to run it in docker as in this case `/dev/shm` is only `64MB` larg

[2020-04-06 10:25] satyamtg commented on #111
@rgaudin I have been running the container today exactly as @kelson42 said. It's been 5 hours and I have been monitoring the logs. Till now I haven't got the "No space left on device error". However, strangely, there are no images in the output/static/images folder till now. I see that output/static/identicons is getting populated with around 33k items in it. (as of now)

[2020-04-06 10:33] rgaudin commented on #111
Then there's definitely a problem :)

[2020-04-07 20:18] satyamtg commented on #111
@kelson42 @rgaudin , it seems now I got this. I ran multiple times with different configs and I currently have the following conclusions -
1. In the user generation phase, the average memory requirement in `/dev/shm` for temporary files revolves around 20MB
2. In the Question generation phase, the average memory requirement in `/dev/shm` for downloading temporary images doesn't seem to exceed arou

[2020-04-07 20:26] kelson42 commented on #111
@satyamtg Nice to see you can reproduce the problem. We need real fix which stops this file accumulation in /dev/shm. Removing them time to time is a workaround, not a solution.

[2020-04-07 20:33] satyamtg commented on #111
Yup. That's a workaround. I just wrote that because this issue was marked urgent. I'm going through the logs to actually get to the exact root cause and fix it. Running Sotoki is a long process BTW 😄.

[2020-04-07 20:41] rgaudin commented on #111
Thanks @satyamtg ; could you share the command you used to reproduce it? Which domain?

I think a first step toward this would be to record imagemagick output on failure to understand why it fails so often and if we could avoid it (maybe we're trying something it can't do and should use another tool in this case).

[2020-04-07 20:53] satyamtg commented on #111
This was generated with the same command as @kelson42 gave. I just monitored the usage and number of files in `/dev/shm` constantly. Also, I ran the question generation phase once outside docker once to confirm the memory usage in that phase (I had commented out the user generation code in `run()`).
[code]
I also agree with you that we should analyze the Imagemagick output on failure. Currently I'

[2020-04-08 06:36] dattaz commented on #111
You can run it on something as small as `3dprinting.meta.stackexchange.com` and still have files that are left.

It's seems we have not information on return code that magick command has fail. Maybe what @rgaudin  propose about parsing output log of command is an idea, however it seems not really strong.

For sure we must find the root cause, not just patching with rm file on fly on `/dev/shm`, al

[2020-04-08 07:28] rgaudin commented on #111
@dattaz you misunderstood. I propose we parse output **on failure**. That means handling failures for starters. At the moment, commands and executed and that's it.

[code]

If we were to check that result code (at least for magick as we know it is the one creating those files), we could also record the output of the failures and classify/study this. There must be a  reason we have thousands of fai

[2020-04-08 08:58] dattaz commented on #111
Maybe the way I formulated it was not clear, but I just caught the return code to analyze when there were  failure
[code]

On `3dprinting.meta.stackexchange.com` I got 12 failure catch with returncode, but more than 29 files are left in `/dev/shm`.
That why is say using return code may be a starter, but clearly not enough...

What I just found to get number for this comment is that, I have 12 file

[2020-04-08 09:07] rgaudin commented on #111
Ah that's interesting.

So maybe what happens is:

* magick use a file to store temp data. It's good to know as we can't parallelize this too much and keep it in a small 64M `/dev/shm`.
* if it succeeds, it clears it out but _for some reason_, it doesn't delete the file. we may want to investigate why those are left.
* if it doesn't, it leaves the temp data in place. I couldn't find a switch to tu

[2020-04-08 11:23] satyamtg commented on #111
@rgaudin I did a quick run checking return codes of the different commands that we run as pointed out by @dattaz . The results seem to be quite interesting. I used the following code to check what failed and also printed the output generated by subprocess.check_output() in a separate file.
[code]
Now, listing out the outputs, I got the following.
[code]
Also, I have the following files left in `/d

[2020-04-08 21:26] satyamtg commented on #111
Finally I have got the root cause and have been able to reproduce the error step by step. So here's the whole story that ruins everything -
It seems that `gif2apng` doesn't like absolute paths to the files. It only works if its working directory is the same as the file location (in our case `/dev/shm`).
So, the GIFs are never converted to APNGs. They are still GIFs with a .png extension. Since the

[2020-04-09 10:13] kelson42 commented on #111
@satyamtg Could you please open a ticket upstream for `gif2apng`, this seems a major bug to me.

[2020-04-09 10:14] kelson42 commented on #111
@dattaz @rgaudin Do you know why we transform gip to apng? This seems a bit pedantic to me!

[2020-04-09 10:18] rgaudin commented on #111
I don't but I guess it's because of filesize.

[2020-04-09 13:08] dattaz commented on #111
Yes, this facilitates the management of profile images as we don't have to take care of extension (which  will require to have this information for each user and query it). It's always something like `/identicons/[user id].png`

[2020-04-09 22:15] satyamtg opened #120 "Fix problems reported by Codefactor"
The sotoki.py file has a codefactor score of 'F'. We can improve this by solving the problems as mentioned here - https://www.codefactor.io/repository/github/openzim/sotoki/issues

[2020-04-10 10:38] #96 closed

[2020-04-10 10:41] kelson42 commented on #112
@satyamtg Would you be able to look at this bug left before we make a new release?

[2020-04-10 10:41] kelson42 commented on #108
@satyamtg Would you be able to look at this bug left before we make a new release?

[2020-04-10 10:43] rgaudin commented on #120
Agrees ; I think it's one of the first scraper.
I don't think it's a good first issue though because fixing this means:

* making sure we have a stable version before. That will change a lot of code and render merging bug fixes difficult.
* change a lot of code ; xml parsing, use requests instead of urlib, etc. So a lot of testing required to make sure we don't introduce regressions.
* use the opp

[2020-04-10 10:49] satyamtg commented on #112
Yup. Sure. I had already planned this for today.

[2020-04-10 10:54] satyamtg commented on #108
I'm actually having a look at it presently.

[2020-04-10 11:18] tigran123 commented on #96
Is there a new .zim image file that can be tested or not yet?

[2020-04-11 00:03] satyamtg commented on #112
This was quite easy. Used importlib.metadata to update version at runtime in sotoki.py . Now we only need to change version in setup.py.

[2020-04-11 00:13] satyamtg commented on #108
This was apparently due to trailing spaces after the lines in some posts. Although mistune should handle it, but it doesn't seem to do so. I have raised an issue with them [here](https://github.com/lepture/mistune/issues/231). However, till that issue is not fixed by mistune devs, I have implemented code in the PR to strip trailing spaces from the lines of the posts.
Once the bug is fixed by mistu

[2020-04-11 07:28] satyamtg commented on #108
They released a new version today and I've updated the requirements.txt to make use of that. The PR is updated now and this issue is fixed.

[2020-04-11 07:30] kelson42 commented on #111
I believe the problem is not fully fixed properly. Here what I have on a test scrap running with latest git master head https://farm.openzim.org/pipeline/5e90540e45166140c8dc558f:
[code]

[2020-04-11 07:40] satyamtg commented on #111
@kelson42 , could you please do a quick  ls -lrth and send the results? Also, does the ZIM contain images now? Also, could you tell whether the ZIM creation is complete or not.

[2020-04-11 07:43] kelson42 commented on #111
@satyamtg All the file which are permatenly here are empty:
[code]

[2020-04-11 07:48] satyamtg commented on #111
That's what I was trying to point out. Previously it would fill the dev/shm after around 12 hours. Also, this has been running for 14 hours and the space utilisation is perfectly okay it seems.
Those tmp files are made by imagemagick but they are cleared properly. I don't think this should be an issue.

[2020-04-11 07:51] kelson42 commented on #111
@satyamtg This is not OK. We should not have empty files there. A directory with potentially dozen of thousands of files is not only "dirty", it will slow down the whole process.

[2020-04-11 08:04] rgaudin commented on #111
please open a separate this one is too long to be meaningful.

[2020-04-11 08:11] satyamtg opened #122 "Temporary files with 0 size left on disk"
Many temporary files with 0 size are left in dev/shm . We need to fix this as this will leave a "dirty" directory and potentially impact performance.

[2020-04-11 08:13] rgaudin commented on #122
are the source files 0 bytes (downloaded) or is it the result of the optimization?

[2020-04-11 08:18] satyamtg commented on #111
Opened a new issue #122 for this. It's certainly not good to have leftovers. I'll fix this. I was just trying to say that this wouldn't affect the presence of images in the ZIM.

[2020-04-11 08:21] rgaudin commented on #111
No, you made it clear in the pr that there were zero sized files leftovers. i tested that other were gone and images working in zim before merging

[2020-04-11 08:30] satyamtg commented on #111
Yup. That's what I said. I said we have 0 sized leftovers. And that's what I'm talking about. The leftovers are all 0 sized. We want to have no leftovers at all.

[2020-04-11 08:54] satyamtg commented on #122
@rgaudin , it seems that they are created by the optimization libraries as no filename matches with any temporary file name in the logs.

[2020-04-11 10:42] satyamtg commented on #122
So I'm wrong here. These files are actually the files whose links give a 404 error. We need to check whether the link exists and only then create a temporary file and download. Will fix this in some time. PR incoming.

[2020-04-11 11:21] kelson42 commented on #122
@satyamtg This is not the best approach because you will slow down the whole process (Because of the HTTP latency) just to handle of a small fraction of missing images. A better approach is to always download and then check for failing downloads (none 200 HTTP status code),

[2020-04-11 11:33] #111 closed

[2020-04-11 11:38] kelson42 commented on #116
@rgaudin I’m not sure about the pertinence left of this ticket. We are going to fix the last reasons why we should have problems around free storage space. I’m as well not so sure if there is a valid way to fix that problem easily. Do you?

[2020-04-11 13:13] satyamtg commented on #122
@kelson42 fixed this. Used a better approach than the two options I mentioned. We use urlopen() to download first. If it fails, we print the error otherwise we create a temporary file and write the contents of the response in it.

[2020-04-12 07:10] kelson42 commented on #96
@tigran123 A new test build has been made here https://download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-04.zim. Let us know if you still have problem enjoying it.

[2020-04-12 07:26] kelson42 commented on #111
I have reported the bug with `gif2apng` at https://sourceforge.net/p/gif2apng/discussion/1022150/thread/8ec5e7e288/

[2020-04-12 09:06] kelson42 opened #127 "External image dependences in recent ZIM"
In https://download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-04.zim, `zimcheck` complains that we have a few external images. This is not OK. I have verified the first ones and indeed they are included in the HTML:

[code]

This pictures should be downloaded, optimized, and URL should be rewritten to point to the ZIM.

[2020-04-12 09:11] tigran123 commented on #96
Yes, it is still broken. Namely, now the search does not work. Try searching, for example, for "Wigner" and you get a list of a few choices, but NO possibility to select "containing 'Wigner'", so the search is essentially useless (because there is a zero chance that what I want will just happen to be in those few choices presented in the list). But in other zim files (e.g. Mathematica and Mathemat

[2020-04-12 09:30] kelson42 commented on #96
@tigran123 This ticket has been closed properly because the problem you reported has been fixed. Thank you for confirming this is the case. What you have reported 20 minutes ago is something totally new to us and has to be handled in an other ticket. Not even sure this is related to the last version of the scraper, or kiwix-serve or whatever else.

[2020-04-12 09:32] tigran123 commented on #96
Ok, but the same kiwix-serve works fine with all the other zim files I have --- I mean the search works fine. It is only physics.stackexchange zim file that has the search function broken.

[2020-04-12 09:35] tigran123 opened #128 "Fulltext search does not work in physics.stackexchange zim file"
As mentioned at the end of #96 trying to search in the latest physics.stackexchange file does not produce all search hits. Instead, it gives a list of a few choices and this list does NOT contain the option "containing 'text'" and so one cannot search for all articles containing the 'text'. Other zim files (tested mathematica.stackexchange and mathematics.stackexchange) have no such problem, i.e.

[2020-04-12 09:35] tigran123 commented on #96
I created #128 to track the search problem.

[2020-04-12 09:40] satyamtg commented on #128
@tigran123 have you tested this on previous physics.stackexchange.com ZIMs? Like I want to get an idea on the timeline of this issue, whether this has developed due to recent work or if it persists unnoticed from long back.

[2020-04-12 09:42] tigran123 commented on #128
Unfortunately, being optimistic, I deleted the old physics.stackexchange.com zim file :)

[2020-04-12 09:42] kelson42 commented on #128
@satyamtg Please let me handle this, this is probably not related at all with Sotoki. I'm investigating

[2020-04-12 09:45] satyamtg commented on #127
@kelson42 strange. I'll first replicate and see if this happens with any of the meta.stackexchange ZIMs as testing on large ZIMs would take a lot of time and possibly delay the fixes. I'll inform if I find something. Looking into it.

[2020-04-12 10:10] kelson42 commented on #127
For the moment, I believe this is somehow related to https://github.com/kiwix/kiwix-lib/issues/339. As this bug shoudl be fixed in the next days, I will wait for that first.

[2020-04-12 10:25] kelson42 commented on #128
For the moment, I believe this is somehow related to https://github.com/kiwix/kiwix-lib/issues/339. As this bug shoudl be fixed in the next days, I will wait for that first.

[2020-04-12 12:17] kelson42 opened #129 "A few dead internal links"
Loading recently created ZIM file in kiwix-serve. I read:
http://localhost:8080/physics.stackexchange.com_en_all_2020-04/A/question/521772.html

In this page there is the following HTML code:
[code]

There is in this HTML snippet, a link to http://localhost:8080/physics.stackexchange.com_en_all_2020-04/A/question/134410.html, but this article does not exist. It should or we should not have a link.

[2020-04-12 12:48] satyamtg commented on #127
@kelson42 can you share one or two HTMLs which have this problem?

[2020-04-12 12:52] kelson42 commented on #127
@satyamtg You have already access to everything I have, nothing more, nothing less. If you want to have a look to how the HTML looks like, you can check on the demonstration online here: http://localhost:8080/physics.stackexchange.com_en_all_2020-04/

[2020-04-12 15:32] dattaz commented on #127
http://library.kiwix.org/physics.stackexchange.com_en_all_2020-04/A/index.html and not localhost ;)

[2020-04-12 15:34] kelson42 commented on #127
@dattaz This is the same, I just tested locally with the ZIM file and kiwix-serve.

[2020-04-12 15:38] dattaz commented on #127
Yes yes, I just click and not understanding why I see nothing

Anyway, the issue is that we did not download image from comment. We should add call to `image` function [here](https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L375) and [here](https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L384)

[2020-04-12 15:47] kelson42 commented on #127
@dattaz Thx for pointing the error, this with be helpful for @satyamtg. But for me, I don't really understand why in 99% we download the pictures in questions/comments... but why not these few ones?

[2020-04-12 15:57] dattaz commented on #129
What happen is that dump refer to `https://physics.stackexchange.com/q/134410` which should be a question, so we wrote link like it is a question. But it is not, it is a answer, and we then should write link in answers format.

I don't know how to deal with this for the moment but 2 idea :
- We may verify each link to question are a valid question (but we don't currently store somewhere a list of

[2020-04-12 16:00] kelson42 commented on #129
@dattaz You mean the XML data is wrong?

[2020-04-12 16:02] dattaz commented on #129
Also on http://library.kiwix.org/physics.stackexchange.com_en_all_2020-04/A/question/6271.html, last comment of post, we have internal link, but they are but they are not displayed as links

[2020-04-12 16:03] kelson42 opened #130 "Rewrite using cutting-edge python-libzim"
In place of zimwriterfs. That means stop writting to the fs and send instead the data directly to python-libzim.

[2020-04-12 16:05] dattaz commented on #129
I mean that the person who wrote this answer redirected to a question (`https://physics.stackexchange.com/q/134410`) and not to an answer (`https://physics.stackexchange.com/a/134410`) (and so it is on XML dump).
Nevertheless stackoverflow supports this kind of thing and realizes the good redirection...

[2020-04-12 16:10] dattaz commented on #127
I did not check all error `zimcheck` report but only a few, each are in comment.

Currently : we download on questions and answers. we did not download in comments.

[2020-04-12 16:13] kelson42 commented on #129
Not sure what is meant here, but I suspect this desserve an other ticket because this is another kind of bug.

[2020-04-12 16:16] kelson42 commented on #129
I don't properly undrstand the second solution, but the first one seems impossible to implement qithout using a something like Redis. Therefore, solution 2 needs to be investigated probably.

[2020-04-12 16:17] kelson42 commented on #127
@dattaz OK, seems to me to be a big bug which got under the radar. The good news is that this seems trivial to fix :) @satyamtg

[2020-04-12 18:13] satyamtg opened #131 "favicon not converted to png format"
Currently, `mogrify -format png` fails to convert favicon to PNG format. This is basically because the favicon.png is actually a Windows icon file with a .png extension which mogrify doesn't handle properly. The following is the output of libmagic on the favicon
`'MS Windows icon resource - 2 icons, 16x16, 32 bits/pixel, 32x32, 32 bits/pixel'`
We should add code to properly handle this type of fil

[2020-04-12 18:18] satyamtg commented on #127
Yup. It's actually quite trivial to fix. Thanks to @dattaz for pointing that out.

[2020-04-12 20:43] satyamtg commented on #129
@dattaz I do agree with @kelson42 regarding this. This indeed seems to be a big bug. I analyzed the XMLs and in some texts, links are just written as texts and not markdown and thus are never converted into clickable links. The comment block for this very comment is as follows in the XML
`<comment Id="589575" PostId="6271" Score="0" Text="Related: http://physics.stackexchange.com/q/68599/, http://

[2020-04-12 20:53] satyamtg opened #133 "Handling of links written as plain text in XMLs"
As mentioned [here](https://github.com/openzim/sotoki/issues/129#issuecomment-612673324), sotoki currently doesn't handle links that are written as plain text instead of markdown. An example can be found [here](http://library.kiwix.org/physics.stackexchange.com_en_all_2020-04/A/question/6271.html) (in the last comment under the question) and another one [here](http://library.kiwix.org/physics.stac

[2020-04-12 21:01] satyamtg commented on #129
As far as this particular issue is concerned, I think that we should try to change the redirection format (the second solution proposed by @dattaz ) as checking whether a link is valid or not may affect performance as it can't be implemented unless we somehow store a list of question IDs. (which would in turn require more space and computation.

[2020-04-13 07:56] kelson42 commented on #131
Yes, like we can see it here http://library.kiwix.org/physics.stackexchange.com_en_all_2020-04/I/favicon.png. Size is wrong (should be `48x48`) and the format is wrong (should be PNG).

[2020-04-13 08:45] rgaudin commented on #116
I don't get how this can not be pertinent…

That said, we are moving from a situation where there was a known bug leading to lack of space to a normal situation where lack of space can happen based on the host environment.

Now, sotoki can use up to 2 different mount points to write stuff to. Consequences are different:

* `/dev/shm`: not handled, results in mising images in the ZIM file **(bad**)

[2020-04-13 13:19] kelson42 commented on #128
So, the problem is that there is not fulltext index in this ZIM file.
[code]

[2020-04-13 13:27] tigran123 commented on #128
Excellent, so can someone rebuilt the zim file with the fulltext index included, please?

[2020-04-13 13:43] kelson42 commented on #128
@tigran123 This is two bugs/weaknesses which correlate since last September here. So, good catch. Fixes are on their paths. Hopefully I can restart a scrape later today. Thank you again

[2020-04-13 15:24] #128 closed

[2020-04-13 15:39] #108 closed

[2020-04-13 16:12] #127 closed

[2020-04-13 16:36] tigran123 commented on #128
The issue is closed, does that mean there is a working physics.stackexchange zim file ready to be tested?

[2020-04-13 16:39] rgaudin commented on #128
No, it means the bug in the code have been fixed. This is separate from the zim file creations.  @kelson42's message looks clear enough : a new file **will be** created soon.

[2020-04-13 16:42] tigran123 commented on #128
Thank you, I will test the zim file when it is ready.

[2020-04-13 21:35] #112 closed

[2020-04-13 21:39] #122 closed

[2020-04-13 21:39] #116 closed

[2020-04-14 20:18] #131 closed

[2020-04-15 08:27] kelson42 commented on #96
@tigran123 New ZIM file: http://library.kiwix.org/physics.stackexchange.com_en_all_2020-04 and https://mirror.download.kiwix.org/zim/stack_exchange/physics.stackexchange.com_en_all_2020-04.zim

[2020-04-15 20:22] kelson42 commented on #133
@satyamtg @rgaudin @dattaz Might that be that with just need a better markdown parser?

[2020-04-15 21:02] dattaz commented on #133
"A better markdown parser", it not easy to find a markdown parser that works well...(We come on non trivial markdown error on dump for exemple https://github.com/Python-Markdown/markdown/issues/551). Sotoki has already used and experienced 3 markdown parser... `mistune` (current markdown parser) is quite good, and his developer respond quickly if need (cf bug from few week ago).

But we may use so

[2020-04-15 21:29] satyamtg commented on #133
@kelson42 I agree with @dattaz  on the fact that mistune is quite good. However, just using the URL plugin would not be enough in our case as there are 2 issues that it can't handle.
1. It won't parse apex domains, say example.com - This can be an issue if it is same as the domain currently being scraped (we'll miss on links)
2. We give mistune markdown text with escaped HTML characters. (like &lt

[2020-04-16 06:26] kelson42 commented on #133
@dattaz @satyamtg This evaluation is a few years old, things might have moved one. But the key questions are (1) does this plain URL parsing is part of the Markdown standard (2) Where is the upstream ticket for that bug/feature?

[2020-04-16 07:53] satyamtg commented on #133
@kelson42 , I'm also quite not in favour of custom URL parsing if it's not strictly needed. Coming to your questions -
1. Plain URL parsing even without angular brackets is not standard markdown. However, mistune has the URL plugin that can do so (although it doesn't work for domains not preceded by http:// or https:// ; like example.com , 3dprinting.stackexchange.com).
2. In my opinion, we do not

[2020-04-16 08:52] dattaz commented on #133
Agree with @satyamtg, no custom URL parsing, we must not end up with over-linking also...

Markdown comment (and title) escaping was introduce because of #50 (which is unfortunately given very few details...), but, if I remember correctly, it is because people can explicitly write HTML tags in the comments and these elements are not already escaped in the dump of comments, so the comments must be

[2020-04-16 12:52] satyamtg commented on #129
@kelson42 @dattaz I think I've fixed this. Changed the redirection scheme a bit. See branch [fix_dead_links](https://github.com/openzim/sotoki/tree/fix_dead_links).
Now, the redirection scheme is something like this -
`[element_id].html -> question/[element_id].html` for questions and `[element_id].html -> question/[element_id of corresponding question].html` . I've also removed the redirection fr

[2020-04-16 16:23] satyamtg opened #137 "Sotoki fails to create a post if a comment has no text"
Currently, if a comment under a post has no text, then Sotoki skips creating the post. This creates loss of information. I have found out that the comments consisting only of Emojis have their text empty in the XML file. Sotoki should instead skip creating that specific comment / or create a comment with no text / create a comment stating text contains no characters and create the post successfull

[2020-04-16 17:46] satyamtg commented on #133
@kelson42 @dattaz @rgaudin I don't see a need to escape HTML characters now. Using mistune with URL plugin handles that. For example, I gave the following input
[code]
This is processed as
[code]
This output seems to be good for us. This would work just fine. For an extra, we can just match with domain that we currently are parsing to not miss any internal links due to human errors.

[2020-04-17 09:53] #129 closed

[2020-04-17 09:53] rgaudin commented on #129
Don't forget to force-refresh pages to get new links :)

[2020-04-17 11:06] #137 closed

[2020-04-17 11:24] #133 closed

[2020-04-17 12:51] dattaz commented on #137
So emoji in comment aren't present in dump ?

Can we report it to stackexchange ? @kelson42

[2020-04-17 14:00] kelson42 commented on #137
@dattaz We could probably... but I don't understand what is going on here.

[2020-04-17 14:16] satyamtg commented on #137
I can confirm that no data related to comments with all emojis are present in the dump. That is, the text field is empty and no other data is there. I think we should report it.

[2020-04-17 18:03] rgaudin commented on #104
Thanks @satyamtg for the PR. It's a lot of changes so I figured it would help to define and discuss what needs to be here and let you adjust the PR.

openzim/youtube/issues/69 is a good read.

The most important questions are what we store and how do we store it?

Downloading is not a problem but processing takes a lot of time. We spend **a lot** of time processing xml files at the moment but ther

[2020-04-17 21:15] satyamtg commented on #104
@rgaudin thanks for your views on this. I really appreciate it. Coming to the 2 key points that we need to discuss here, I'll address them one by one.
1. **What shall be the key for the objects in the bucket** - In this, I kind of agree with you on the fact that we should make it a bit easy for occasional browsing so start the source domain part. I had also read the manual for Keys [here](https://

[2020-04-17 21:48] rgaudin commented on #104
Told you this is a kiwixstorage limitation (didn't account for url as keys) that will be addressed and only concerns wasabi-specific feature (which we don't need here)

No, this makes it readable only one-way while there is no reason for this. URL encoding is safe ; that's what amazon suggest to use in the doc.

Agrees we shall have an ETag fallback but that should preferably be `Last-Modified`. `

[2020-04-17 22:09] satyamtg commented on #104
@kelson42 I get it. I think what you suggested for the Key previously would be good then. We can do a 3-way fallback then. We would prefer tag, if not found then last-modified, if not found then content-length. (Ah, I get it, I used the wrong word "required". What I meant was that most (if not all) image links have content-length).

I wanted to do it only if we share buckets across scrapers. Since

[2020-04-18 05:49] kelson42 commented on #104
Regarding identifying if a content is outdated in the cache, I don't think there is one approach for all use cases. For example Youtube is trivial and Sotoki images is really not. So probably we need a system which allow to configure the version checking strategy.

Regarding the detail of these strategy, I have nothing much to say. @satyamtg is right, unfortunately, we don't have an etag everywher

[2020-04-18 10:35] tigran123 commented on #96
Thank you, I've tested it and it works beautifully! Excellent work, guys! :)

[2020-04-21 01:37] NickCraver commented on #137
Oooh interesting - that's the first time I've seen this reported. Thanks for doing so!

We're fighting some other SQL issues at the moment (with the SQL Server 2019 upgrade) but will take a look. We're using some built-in bits here so it may not be a quick fix. Regardless, we'll investigate and report back!

[2020-04-21 06:31] kelson42 commented on #137
@NickCraver Do you have a place somewhere on your side where we can track this issue?

[2020-04-21 06:32] kelson42 commented on #137
@satyamtg Maybe we should open a ticket on our side regarding this specific problem. What do you think?

[2020-04-21 08:23] #104 closed

[2020-04-21 13:56] kelson42 opened #141 "A lot of identicon are the same but duplicated"
We should better avoid these duplicate. A lot space could be saved that way IMO.

[code]

[2020-04-21 15:54] rgaudin commented on #141
Those icons are generated by [pydenticon](https://pypi.org/project/pydenticon/) to create avatars based on user's `DisplayName`.

Possibilities:
* many users have the same name? Can't know from you ZIM as it was created without user profiles… In your example of a small ZIM (25MB), that would mean 224 users with identical `DisplayName`… 🧐
* The name-to-digest algorithm is too narrow. FYI, the [code

[2020-04-21 16:41] satyamtg commented on #141
I agree. Currently building  tezos.stackexchange.com files with user profiles. Will investigate once it's done.

[2020-04-21 18:10] satyamtg opened #142 "Some identicons not created"
As mentioned in #141 there are some identicons which aren't created by pydenticon as the download_image() function doesn't raise an exception once it excepts a URLError.

zimcheck for tezos.stackexchange.com gives the following at the end
[code]

[2020-04-22 07:28] kelson42 commented on #141
@satyamtg @rgaudin Would we have a way avoid saving identicons with the same hash...  without exploding in memory?

[2020-04-22 08:00] #142 closed

[2020-05-25 13:19] kelson42 opened #145 "Processes stuck in zimfarm"
See:
* https://farm.openzim.org/pipeline/5ec4d8a5d7abe578f4c56068
* https://farm.openzim.org/pipeline/5ec4d8c4d7abe578f4c56103/debug

[2020-05-26 10:21] rgaudin commented on #145
Those two task, [blender](https://farm.openzim.org/recipes/blender.stackexchange.com_en) and [electronics](https://farm.openzim.org/recipes/electronics.stackexchange.com_en) have a couple things in common:

* succeeded 2 months ago (without S3)
* Always stuck afterwards (with S3)
* Last task stuck *during an S3 operation* (not sure but it's the last log printed). All blender tasks post-S3 introduc

[2020-05-26 12:28] satyamtg opened #146 "More robust image type identification"
Seeing some zimfarm logs ([this](https://farm.openzim.org/pipeline/5e9f1132793c04047deb7bcb) is a good example job and [this](https://i.imgur.com/xu3OABn.jpg) a good example link), we see that there are a couple of images which have wrong content-type header. Currently we use the header and fall back to magic. This leaves failing resizes and optimizations and may leave traces behind.
[code]

Shoul

[2020-05-26 12:54] satyamtg commented on #145
Looked into the logs. Even though the S3 case is a bit suspicious, I think S3 may not be a problem here (although it's under suspicion). I've also found something else which is common between most (not all) of these failed instances -

[code]
However, it's quite strange that #87d0d got stuck considering most of the operations were only downloading from cache.

[2020-05-26 15:54] rgaudin commented on #146
I am in favor of this. Mentioned it when we changed that I think.
It's supposed to be faster to just rely on the header but since most web servers (apache, nginx) are just mapping file extensions to content-types, it's probably not much better than what we were doing earlier…

So we could either use header and should the optimization fail look into magic and re-optimize or just go straight to magi

[2020-05-30 10:59] kelson42 commented on #145
@satyamtg @rgaudin I made a new run for Blender... and it get stuck at the very same place (same image):
[code]

More details at: https://farm.openzim.org/pipeline/5ed12e2e18b11fb99e9046f7

[2020-06-08 03:47] satyamtg opened #147 "Cache resources exhausted error with Imagemagick"
When trying to convert/resize large images, mogrify throws the following
[code]
A sample image to test it is attached here
![BES4j](https://user-images.githubusercontent.com/17774888/83990813-7736e280-a968-11ea-96c0-b05d4986669e.jpg)
For this particular image, default memory it requires almost 600MiB memory with mogrify (the default being 256 MiB), I tested it by gradually increasing the memory li

[2020-06-08 04:57] satyamtg commented on #145
Seeing the recent runs of electronice.stackexchange.com, I find the following very strange -
The log of #0469f is 641320 lines and the log for #56103 is 328547 lines, i.e nearly the half of the more recent run #0469f . Moreover, on comparing both the logs, I see the following -
#0469f stuck on the part of post creation whereas #56103 stuck on the user image collection. Moreover, the place where #5

[2020-06-08 08:09] rgaudin commented on #145
Please include links to the tasks as the short numbers are for reading but there's no access from it in the zimfarm.

If the memory is exhausted, docker kills the scraper container using a `137` error code. So a `1` or `0` return code means that the memory wasn't exhausted.

The imagemagick resources cache is different. I've explained that in another issue (maybe related to the leftover files)

[2020-06-08 12:40] #146 closed

[2020-06-08 12:40] #147 closed

[2020-06-10 08:33] rgaudin commented on #145
After a [new run](https://farm.openzim.org/pipeline/5edf46a39688cf708dc3af7b) on `:dev` via sisyphus, we have a [more verbose log](https://logs.warehouse.farm.openzim.org/19c1be1e2a2981a53e1c1d463ad32e642e63a24adaf4e499905f3e942926084c-json.log).

What happens is that at 2020-06-10T01:57:31, we're hitting a lack of space

[code]

Probably because we're failing early and thus fetching the next imag

[2020-06-13 08:38] satyamtg commented on #145
I have 2 findings on this -
1. The 403 forbidden are due to our download function. I mean there are certain types of URLs which are repeated many times and whose content cannot be downloaded the way we currently do it. However they do download with wget. (Maybe we should use our zimscraperlib function)
An example of such a URL is - https://blend-exchange.giantcowfilms.com/embedImage.png?bid=K3w1lL

[2020-06-14 07:03] satyamtg commented on #145
My understanding is that the no space left on device occurred due to large number of advdef failures (which were concentrated at the very end of the log) and it was due to images not being resized properly. Which has been fixed in #149 . Also I have made #150 to fix the 403 errors. I think that this should not get stuck now (given that the electronics run went till the very end) and we shall try o

[2020-06-20 06:42] kelson42 opened #151 "Consider using WepP in place of PNG/JPEG/GIF"
WepP is a next generation image file format which provides better compression ratio than PNG/JPEG/GIF. Therefore this is a good candidate to be put in ZIM files. The support is meanwhile quite good, except for Safari (WIP) and older browsers (user should move on). Because Sotoki ZIM files tend to have a tech savy audience I thought this would be a good candidate to experiment moving our scraper to

[2020-06-20 07:58] satyamtg commented on #151
@kelson42 I think it's a good idea to have WebP in the ZIMs. However, this would have changes on the optimization scheme that we currently have here. I think this gives us a good opportunity to have this incorporated into the scraperlib (like the video module) and then use that here in Sotoki as image optimization is actually being used by many scrapers. What do you think of it?

[2020-06-20 17:16] rgaudin commented on #151
While I agree we should move image optimization to the the scraperlib (we've already discussed this), I disagree with several stuff mentioned above.

* Safari support is not WIP. It was there on beta releases and was dropped, most likely due to political reason (Apple chose to support a competitor format, HEIC)
* «User should move on». Wow! A large part of ZIM audience is kiwix-serve and a large p

[2020-06-21 05:26] satyamtg commented on #145
It seems that the latest electronics run succeeded but the blender one still gets stuck (See https://farm.openzim.org/pipeline/5eec6d91bb9b3d5f165ab491).  Seeing the logs, it got stuck on 2020-06-20 at 20:32:57 . Seeing errors, there are 13 advdef failures, all due to 20s timeout expired (curious), one pngquant failure and a couple of gifscale failures (which are due to improper GIFs)

[2020-06-22 06:55] satyamtg opened #152 "Files with weird names left in /dev/shm"
During a blender.stackexchange.com run, I found some files that are left in /dev/shm. What's common with them is the fact that they all have weird names. Some examples are -
`tmpayyc4f0sc4747e1cfcd82c7a912a1a0583e9d79a656b717cdea0464f4d9d0cea32670b6a.png→→.png`, `tmpcev3f1zzefa46094b3853b92d6316224c55e059d9be5f4813e9767ecf8a3e908859c7e30.pngstrong.png`, and `tmpac8bjgh_da3ef0ff304fd83af521b7fd9196

[2020-06-22 09:03] rgaudin commented on #145
OK, I will comment-out advdef step and relaunch blender. We'll see.
This step is the kind of stuff that should be somewhat documented. Right now, we have no idea how much this super-cpu intensive task actually impacts the output ZIM. Maybe it will all become useless when switching to WebP :)

[2020-06-24 06:13] satyamtg commented on #145
https://farm.openzim.org/pipeline/5ef07c2fbb9b3d5f165d326a seems to have stuck again. I mean it's getting very strange now. But now it really seems that the scraper stops at a certain place. I mean though it gets stuck randomly, all the pending tasks are actually completed (the downloads) and whenever it gets stuck, we don't even have a log saying `<URL> to be saved as <image>`, which necessarily

[2020-06-24 07:19] satyamtg opened #154 "--nopic mode fails to create ZIM inside docker container"
When in nopic mode and trying to create a ZIM inside docker container, we get the following -
[code]
This is due to the face that os.rename is used and the directories are in different devices.

[2020-06-24 08:09] rgaudin commented on #154
Right, we shall use `shutil.move` there.

[2020-06-24 08:17] satyamtg commented on #154
Yup. That's true. But do we really need this? (Unless we want to continue on files downloaded in a previous run).

[2020-06-24 08:18] rgaudin commented on #154
There's no context here. What does it do? Why ? Why should it be unnecessary?

[2020-06-24 08:58] rgaudin commented on #145
Hum, for the record, we did succeed this recipe back in January (12G) and in March (missing pictures issue).

Many parts have changed since January so it's impossible to tell but one thing didn't changed and that's the multiprocessing.  So I wouldn't go after that without further clues ; given it's sensitivity and the fact that this only affects blender off the 173 sotoki recipe we have.

We know

[2020-06-24 10:08] #154 closed

[2020-06-24 10:11] satyamtg commented on #154
No. It's not unnecessary. I just wanted to point out that we always run on fresh scrapes, not on previously scraped data. But yup it's a small useful feature anyways.

[2020-06-24 23:31] satyamtg commented on #145
Finally got to know the root cause of this issue (Okay I'm 99% sure until we test). It was happening due to requests not being timed out in get_meta_from_url(). I ran sotoki locally for about 10 hours with the following modifications -
- Used --threads=1
- Commented out the download_image() code and added code to just create temporary dummy files, get meta from the URL and move those dummy files t

[2020-06-25 10:27] #145 closed

[2020-06-25 11:40] #152 closed

[2020-07-04 13:47] kelson42 opened #159 "Welcome page does not have a <title> tag"
See for example:
http://library.kiwix.org/raspberrypi.stackexchange.com_en_all_2020-05/A/index.html

It should be the same as the title of the ZIM.

[2020-07-06 07:38] #159 closed

[2020-07-14 13:55] kelson42 opened #161 "Still dead links cases in our ZIM files"
With the most recent ZIM file generated at https://mirror.download.kiwix.org/zim/stack_exchange/conlang.stackexchange.com_en_all_2020-07.zim

[code]

the 4 errors seems valid so far I was able to check.

[2020-07-17 11:31] kelson42 commented on #141
This problem might sound like an optimisation but in fact this is a real problem for the Stackoverflow ZIM file. Here is the amount of data we are dealing with:
[code]

and I have discovered that it takes 2 months to deal *only* with these favicons.

We need to:
* Reduce the storage usage for that
* Fix the problem od duplicate identicons
* Identify duplicate identicaons ASAP to avoid useless comp

[2020-07-17 21:20] rgaudin commented on #141
@kelson42 the README does say “*The use of btrfs as a file system is recommended (and required for stackoverflow)*” 😉

[2020-07-18 18:17] kelson42 commented on #141
Hopefuly we can remove this with python-libzim

[2020-07-18 18:19] kelson42 commented on #141
@rgaudin I think we can close this ticket?

[2020-07-18 18:21] kelson42 commented on #110
@dattaz Do you thin a pure Python SAX parsing is the solution? Would you be able to make it?

[2020-07-19 11:35] dattaz commented on #110
The main issue here is : We have many XML (one for comments, one for post, one for links beetween post, one for user, one for tag + one for user with one for badges)  which have link between them, and we want to parse them all to generate page.

The idea at the time was to not use any "database"-like to get information and read XML only once (and in a lazy way, without DOM tree (too much data))

T

[2020-07-21 14:59] rgaudin opened #163 "Consolidate users's avatar duplicates"
Following-up on #141, as described in https://github.com/openzim/sotoki/pull/162#issuecomment-660426100 a lot of users customized their avatar on stack-exchange by using third party providers.

It means that we have profile image url for them but a good amount of them are still duplicates.

@satyamtg identified some of those third party but fixing it will require custom logic for each.

My suggest

[2020-08-18 10:39] satyamtg commented on #161
I have looked into it. The links are dead due to the following reasons -
`I/question/questions/tagged/diachronics` - The tag is not resolved properly. The tag is available though in the ZIM
`A/element/59.html` - This page is not available. The question is not at all scraped. Redirect is correct.
`A/user/109.html` - Probably because ZIM did not contain user profiles
`A/tag/tolkien-*.html` - This is

[2020-08-21 08:33] rgaudin opened #164 "Add a no-identicon option"
Stackoverflow has 10M+ custom identicon files weighting 72GB. This is enormous in comparison to the actual textual and image content.

We currently have a `--nopic` option that removes all images, including content ones.

The proposed `--no-identicon` would just skip the user identicon but keep the content ones. Auto, JS-generated identicons would still be there so it would still be possible to *i

[2020-08-21 08:52] #164 closed

[2020-08-22 09:06] kelson42 opened #168 "Remove ".html" in the name of HTML pages"
Because this is:
* useless
* complexify without reason URLs
* would save a bit of storage

[2020-08-25 11:39] #163 closed

[2020-08-26 10:26] satyamtg commented on #161
For this, it's not present on the original online site nor in the dump. Thus we have a successful rewrite but not a redirect to the answer. We currently write redirects while we analyze answers, and since this is not present anymore, we have a dangling link. For fixing this, we would need to somehow know about dangling links

[2020-08-26 11:26] rgaudin commented on #161
OK so I guess this is an incorrect link from a user inside a comment, right? In this case, we can skip it for now.

[2020-08-26 12:16] #161 closed

[2020-09-03 06:41] #168 closed

[2020-09-04 11:34] kelson42 commented on #151
Should be pretty easy now with https://github.com/openzim/python_scraperlib/issues/26 being implemented.

[2020-09-04 13:06] rgaudin commented on #151
One thing that needs a bit of work is how we'd rewrite the HTML to point to `.webp` sources. We could keep the image names as those were but:
- we want to be good-citizen in not advertising wrong formats. We don't like when source website don't respect filenames, so we shouldn't do it ourselves.
- the polyfill relies on the filenames to do its magic.

[2020-09-14 09:42] rgaudin opened #174 "stack overflow takes too long to complete"
At this point, stackoverflow's duration is not manageable. We need to investigate the actual bottleneck**s** behind this duration.
It's important to note that @dattaz previously **required** the use of BTRFS on the disk and we're not using it at the moment.
@dattaz what was the reason for this? Was it for performances?

[2020-09-14 13:33] satyamtg commented on #174
I think in the meanwhile, we can launch a nopic version to see if we can get that to complete in a reasonable time. That may give some clues on whether we shall investigate first into the image download/optimization stuff or somewhere else.

[2020-09-14 16:55] dattaz commented on #174
BTRFS was require because, if I remember, because we hit EXT4 limit of number of file by directory (which we also bypass, by splitting folder with 26 folder of first letter of name)

[2020-09-16 16:07] kelson42 opened #175 "https in place of http"
At least in the bottom link « This question is issued from http://dsp.stackexchange.com«.

[2020-09-29 13:25] kelson42 opened #176 "Create version without pictures"
Add a `--nopic` option.

[2020-09-29 13:28] rgaudin commented on #176
What should it do?

[2020-09-29 13:28] rgaudin commented on #176
We already have `--nopic`

[2020-09-29 13:28] #176 closed

[2020-10-05 08:19] rgaudin opened #177 "Incorrect path for ZIM rewriting"
[stack_overflow run](https://farm.openzim.org/pipeline/5f733b41f5e6a27b282ca054/debug) failed at ZIM creation due to an incorrect path for rewriting.

[code]

[2020-10-05 08:22] rgaudin opened #178 "Error during ZIM creation doesn't trigger non-zero returncode"
[stackoverflow run](https://farm.openzim.org/pipeline/5f733b41f5e6a27b282ca054/debug) failed during ZI creation (#177).
This should have triggered a 1 or above returncode on the main process.

[2020-10-05 15:21] rgaudin commented on #177
[Launched a new run](https://farm.openzim.org/recipes/stackoverflow.com_en) with verbose logging of scraperlib rewriting so we can identify on which article and link it failed.
We'll see in 3d+

[2020-10-06 10:36] #178 closed

[2020-10-07 16:08] rgaudin commented on #177
Seems to be on `question/6443392`

[2020-10-08 09:44] satyamtg commented on #177
This is due to this very anchor tag -
[code]

Since we do not handle links with length <= 2, this is left out as is. Earlier zimwriterfs used to ignore this, but since this is using scraperlib to write ZIM via pylibzim, this behaviour has changed.

[2020-10-08 10:02] #177 closed

[2020-10-22 16:36] Neilblaze commented on #175
@kelson42 link is not working. If this is still up for grabs can I take this?

[2020-10-22 16:43] kelson42 commented on #175
This link is in the ZIM file http://download.kiwix.org/zim/stack_exchange/dsp.stackexchange.com_en_all_2020-04.zim

[2020-10-22 17:28] Neilblaze commented on #175
I'm on it! :rocket:

[2020-10-23 04:32] kevinmcmurtrie commented on #174
I was able to tune ZFS to handle its 20 million questions files but sotoki was still slow.  It was building a ZIM file at about 3 GB per day and using memory even faster.

<pre>
Oct 22 19:33:51 pixelmemory kernel: [764759.210065] Tasks state (memory values in pages):
Oct 22 19:33:51 pixelmemory kernel: [764759.210065] [  pid  ]   uid  tgid total_vm      rss pgtables_bytes swapents oom_score_adj na

[2020-10-23 05:47] kelson42 commented on #174
I believe the problem and the solution are quite clear here. We face an architectural weakness (known and workariunded in the past with BTRFS) and this can now be removed by avoiding to write temporary data to the fs by using the full power of python-libzim.

[2020-10-23 05:50] kelson42 commented on #174
Mostly a duplicate of #130, wonder if we should close this ticket?

[2020-12-09 16:25] Popolechien opened #181 "Hide age of questions"
Current sorting displays the most popular questions (by vote), which tends to favor older ones. The current layout prominently displays the question's age, which tends to put 7 to 8 years-old post on top and makes the zim file looks _extremely_ stale and makes for poor UX. Age of questions should be hidden at least on the landing page.

![Capture d’écran 2020-12-09 à 17 18 09](https://user-image

[2020-12-09 16:27] Popolechien opened #182 "Scraper should not pick up unanswered questions"
Since offline users are not able to answer questions, the zim file should be seen for the answer resource it is rather than for its forum part. It should also allow to reduce substantially total file size.

[2020-12-09 19:54] rgaudin commented on #182
I disagree. At least for code related ones, knowing the question exists but was not answered is valuable.

[2020-12-09 21:20] kelson42 commented on #182
Even of the value is limited, a question without answer is not totally useless.

@Popolechien Do we have a good reason, not have gien so far, to not close this ticket as WONTFIX?

[2020-12-10 07:38] Popolechien commented on #182
Well maybe for code-related comments, but for such threads as Great Outdoors or even language learning I'm pretty sure a question without answer is pretty maddening. Looking at Graphic Design right now and about 30 to 50% of questions over the last 2 months have remained unanswered. Ultimately there's a legitimate trade off between potentially relevant information and the underlying objective of r

[2020-12-11 18:14] CodingApps commented on #181
Hi, could I take this issue to complete it?

[2020-12-12 20:53] dattaz commented on #181
Yes you can, look inside `sotoki/templates/index.html`

[2020-12-12 20:57] dattaz commented on #182
I also think that a question, even an unanswered one, makes sense. Especially when the author suggests possible answers.

I don't know the distribution of size between text and image in sotoki zims. But although an unanswered question can have an image, I think that a big part of the size of the zim comes rather from the non-textual contents.

[2020-12-13 01:08] CodingApps commented on #181
@Popolechien @dattaz Took a look. Should I revise the layout and then just submit the pull? Or will you assign to me beforehand?

[2020-12-13 05:09] Popolechien commented on #181
@CodingApps maybe post a proposal/mockup first and then go for the PR

[2020-12-13 08:32] kelson42 commented on #181
Honestly, I'm unsure if all of this is a good idea"

[2020-12-13 14:32] Popolechien commented on #182
Ok, not a hill I'm going to die on. I'll bend to majority opinion until we get more data.

[2020-12-13 19:26] Popolechien commented on #181
@kelson42 The problem as stated above is that the first impression users have when opening a SE/SO file is that they downloaded really old stuff. Presenting users first with potentially stale content (or making it so obvious as it is at similar font size/level as the question( gives a bad first impression.

[2020-12-13 19:37] dattaz commented on #182
Another point that came to me is that if you don't take some questions, you start to edit the content (it's not the whole site anymore, but only a part of it), I dont think this is good idea

[2020-12-14 04:34] CodingApps commented on #181
@Popolechien I see where this can be changed. Do you have steps for installing this environment on a Mac? Tried the Getting Started steps and keep getting a "ImportError: failed to find libmagic" error, even though it's already installed.

[2020-12-14 10:13] kelson42 commented on #181
@kelson42 So the problem is that the user does not understand properly that the ZIM snapshot and you want to improve this sensation/knowledge?

[2020-12-14 10:27] Popolechien commented on #181
@kelson42 Correct.
It's not about hiding accurate information (the date should remain in the question/answer page as it may be relevant), but leaving some info out at first contact. What's important for users is 1. what popular questions are there (user might have the same)? 2. do they have answers?
There is an issue of onboarding and credibility if the product looks stale from the outset.

[2020-12-14 10:44] kelson42 commented on #181
@Popolechien OK. I understand the problem, let me just think a bit about it. We will do something about that.

[2021-01-08 06:24] Popolechien opened #183 "Option : Remove usernames from posts"
Usernames should not be displayed in posts and all submissions should be anonymous (à la 4chan?)

[2021-01-08 06:25] Popolechien opened #184 "Generate nopic version of SO"
Similar to flavours already available over at MWoffliner

[2021-01-08 06:27] Popolechien commented on #182
Reopening as it is a SO demand within their Bard project.
Quote: "_narrowing down to the 20M answered questions would make for a smaller subset and I would suggest that unanswered questions are interesting when the user can get online and contribute, but would be frustrating in an offline Read Only environment."_

[2021-01-08 09:05] rgaudin commented on #183
This should be an option ; we certainly don't want to strip out usernames in the *regular* version. Please confirm so we can fix the title.

[2021-01-08 09:07] rgaudin commented on #184
We already support this. If you are unhappy with nopic output, open detailed tickets.

[2021-01-08 09:07] #184 closed

[2021-01-08 09:11] rgaudin commented on #182
OK, we can have a *selection* triggered by an option. Your quote mentions limiting it to 20M answered responses as well.

[2021-01-08 09:12] Popolechien commented on #183
Not sure I see a value there, but in any case as indicated by the `Bard` tag this is for a specific project (prison distribution) and a request from the sponsor.

[2021-01-08 09:14] Popolechien commented on #182
20M is the number given to me by folks at SE/SO, ie their estimate of how many _answered_ questions would be available in a "responded-only" package.

[2021-01-08 09:19] kelson42 commented on #183
Should be an option and will be activated for a Bard dedicated version of ZIM file(s).

[2021-01-08 09:20] kelson42 commented on #182
Should be an option and only activated for Bard.

[2021-01-08 09:21] kelson42 commented on #181
We still need to discuss this topic. But a solution has to be elaborated.

[2021-01-08 09:23] kelson42 commented on #151
We need to make a decision on that.

[2021-01-08 09:24] kelson42 commented on #7
We need to make a decision on this.

[2021-01-09 08:42] amirouche commented on #7
My original idea was to have the choice to order answers depending on activity / score. I think there is two way to go:

- Produce one html per ordering (that will produce a very large zim)
- If answers are not paginated, it is possible to use a javascript script to change the order without the need to rely on JSON because all the required information is already in the page

[2021-01-09 14:47] kelson42 commented on #7
The online version does not provide such a feature. I don't really see the value myself, like a few other have reported. I believe we should close this ticket as WONTFIX.

[2021-01-09 15:55] dattaz commented on #7
The online version provide this feature, you can sort answers to a question by Active/Oldest/Votes.

But I think I misunderstood this ticket until now. I thought it was about sorting the questions (which is a real technical challenge because of the number of questions) and not just having a dynamic display for the answers to a question that are already on a single page (there is no pagination on a

[2021-01-11 19:05] amirouche commented on #7
Let's close it.

[2021-01-12 11:31] kelson42 commented on #7
I'm again unsure after the helpful comment of @dattaz. If I understand right now, the goal would be to add the following buttons?
![image](https://user-images.githubusercontent.com/1029718/104309077-deee7680-54d1-11eb-8615-db4523128eaf.png)

I'm not really sure "Active" makes a lot of sense, but would the two other ones be doable in pure javascript (not the buttons, the sorting) based on the DOM i

[2021-02-10 13:55] kelson42 opened #185 "Add an option to remove external links"
To follow the principe of less surprise, external links should be removed (but label kept) to avoid users to click on them and get a non-responding page.

[2021-02-10 13:57] kelson42 opened #186 "Option to remove external links to personal pages"
Instagram, facebook, ... al of them should be totally deleted or just mark as deleted. This should be based on a regex list.

[2021-02-10 13:59] kelson42 opened #187 "Option to censor forbidden words"
Based on a list.

[2021-02-10 14:02] kelson42 opened #188 "Allow Bart Admins to censor/"delete" specific pages on demand"
If they are not happy with the content.

[2021-02-11 07:52] rgaudin commented on #187
Example list: https://github.com/RobertJGabriel/Google-profanity-words/

[2021-02-11 08:14] rgaudin commented on #188
I don't think this should be in this repo.

[2021-02-12 21:13] dattaz commented on #185
I disagree with this, as users can still have limited access to internet.

But as an option and in the context of bard, I understand how this can be use.

[2021-02-12 21:15] dattaz commented on #186
Can this be the same than #185 ? (no external link) as it will be use in the case context (bard)

[2021-02-12 21:17] rgaudin commented on #186
no, there are two tickets on purpose. For social stuff, they need even the label/url to not be visible (kinda same purpose as nousername)

[2021-02-12 21:38] dattaz commented on #175
Hello @Neilblaze are you still working on it ?
I think the best way to do is to modify this part of the code => https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L1651:L1655

[2021-02-12 22:36] dattaz commented on #187
Regarding comments on issues #188, maybe this should be implement as python-libzim level, as this is something we may want for all zim content.

[2021-02-13 08:44] kelson42 commented on #185
@dattaz Yes, forgot to say that this shoukd be an option.

[2021-02-13 08:46] kelson42 commented on #187
I would implement it here first, if this is needed in an other scraper, the consider to move it.

[2021-02-13 08:47] kelson42 commented on #175
@dattaz If you consider to fix this, I think you can carry on.

[2021-02-13 12:44] Neilblaze commented on #175
@dattaz apologies for the delay, I created a [PR](https://github.com/openzim/sotoki/pull/193). Please have a look :)

I was facing some issues running the same on Windows (WSL), later I figured out that Ubuntu may be the way to go for me. I'm pretty new to Openzim & I want to explore this. Is there any forum or community where I can reach out to?

[2021-02-13 13:10] kelson42 commented on #175
@Neilblaze Thank you for your PR. Sotoki does not run on Windows indeed. Good idea to use Ubuntu. Many of us use it and this is a better OS. You can join our Slack workspace with https://join.slack.com/t/kiwixoffline/shared_invite/enQtOTUyMTg4NzMxMTM4LTU0MzYyZDliYjdmMDYzYWMzNDA0MDc4MWE5OGM0ODFhYjAxNWIxMjVjZTU4MTkyODJlZWFkMmQ2YTZkYTUzZDY but most of the discussions run on the tickets, here on Githu

[2021-02-15 13:00] #185 closed

[2021-02-15 18:04] #182 closed

[2021-02-19 10:22] rgaudin commented on #174
Let's keep it open. I am confident that not storing on disk should remove most of the disk bottlenecks but:

- this ticket is about the general slowliness of running stackoverflow. btrfs requirement is a suppostion but there's no evidence this is just disk bottlenecks
- we don't know why btrfs was required. ext4 and btrfs have many many differences
- pretty sure we did not hit the max number of fi

[2021-02-19 10:39] kelson42 commented on #174
It is not really. I have a disk with btrfs and this is on it that we have achieved to make the past SO ZIM files.

[2021-02-19 10:50] rgaudin commented on #174
What does this say? Last SO ZIM is from two years ago. If we were 100% sure it's **just** btrfs, we'd have already setup btrfs on a worker and run it, right?

[2021-02-19 11:25] rgaudin commented on #186
This should also filter-out any email address

[2021-02-19 13:11] rgaudin opened #194 "Use higher resolution image as ZIM favicon"
The ZIM favicon is taken from the source website favicon which is not a good idea:
- site favicon is 32x32px
- zim favicon are 48x48 (convention)
This make the ZIM favicon look ugly everywhere.

Stack Exchange sites offer a 158x158px image as `image_src` or `apple-touch-icon` which we should use instead.

[2021-02-19 13:40] rgaudin opened #195 "Add an about page"
Sotoki ZIMs have several specifics that are not clear at first. I suggest we add a *static* page to all sotoki ZIMs (with a link to on homepage) that would include information about:

- The website is was extracted from. We need need that in the footer of every page
- The dump date the archive was extracted from. Very important to relate to every dates. See #181
- The number next to questions in t

[2021-02-20 04:44] kevinmcmurtrie commented on #174
https://farm.openzim.org/pipeline/5f7b397d3ebea61cb63065fb
It works under ZFS if there's a NMVe metadata cache.  It seems that the `questions` directory exceeds RAM caching limits before it finishes downloading all 22M files.

It's still susceptible to the usual hanging and OOM even with iowait fixed.

[2021-03-04 19:04] lizfrank commented on #174
We are also interested in an up-to-date StackOverflow ZIM file.  Is there one building now and if so, is there a completion ETA?

[2021-03-04 19:19] kelson42 commented on #174
@lizfrank No strong commitment, but good chances we get this problem fixed before summer.

[2021-03-16 11:24] ritikjaiswal019 commented on #175
@kelson42 @dattaz Is this issue still open. If yes can I work on this?

[2021-03-16 11:28] kelson42 commented on #175
I believe so. Your are welcome to work on it.

[2021-03-17 08:15] #175 closed

[2021-03-20 13:41] gajanangitte opened #201 "INT-FLOAT TypeError (relating to ready_queue -> python's Multiprocessing Queues)"
### Step 1: Are you ready to report ?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - [.] I have test with the last (dev) version of the software?  ( If not, and if possible, run your test again with the most recent version available.)

### Step 2 : What is your environment ?
  * browser / app : Linux terminal, Armx86, 8 gb ram, hp pavilli

[2021-03-20 14:10] rgaudin commented on #201
Looks like you're not using the correct python version. Which is it? Please try with python 3.6-3.8

[2021-03-20 23:35] dattaz commented on #201
The issue seems to be here : https://github.com/openzim/sotoki/blob/master/sotoki/sotoki.py#L1710
/ in python3 return a float

[2021-03-23 06:58] gajanangitte commented on #201
@rgaudin: tried with python 3.8....then created a virenv with 3.6 too... Still the same error

[2021-03-23 07:19] rgaudin commented on #201
yes sorry @dattaz pointed out the problem. You can fix it easily or just run it with `--threads n` with `n` of your chosing.

[2021-03-30 16:46] lizfrank commented on #174
Hi.  We're still interested in the SO ZIM file.  Does it look like it will be available by June?  Thank you for your work on this.

[2021-05-07 21:43] RajSrinivasJena commented on #194
@rgaudin can I take this Issue ?

[2021-05-08 04:45] kelson42 commented on #194
@RajSrinivasJena Thank you for your offer. Unfortunately, This is not really a good timing, because we are just before rewriting the whole sotoki. I would recommend to take another good-first-issue in an other repository.

[2021-05-14 11:13] kelson42 opened #202 "Dump progress"
Like on zimit

[2021-06-02 20:16] lizfrank commented on #174
We are still working on this issue and currently have a Stackoverflow zim file build in progress.  It has been running for 10 days on a 1TB, btrfs partition.

[2021-06-03 08:01] rgaudin commented on #174
@lizfrank, as indicated in the README, we're reworking the scraper. We are targeting a new SO ZIM for end of June. Process would be a lot shorter and not require btrfs anymore. Subscribe to the repo for updates.

[2021-06-03 17:32] kevinmcmurtrie commented on #174
The [pixelmemory](https://farm.openzim.org/workers#pixelmemory) worker has a filesystem that can run it in a day or two but the Docker container memory limit needs to be raised up by a lot to prevent random OOM.

[2021-06-03 21:08] lizfrank commented on #174
That's great!  How do we use pixelmemory from sotoki?

[2021-06-04 09:43] rgaudin commented on #174
@lizfrank `pixelmemory` is a machine that runs zimfarm jobs such as sotoki ones. Sotoki is currenlty disabled on the zimfarm as it fails to produce SO.

@kevinmcmurtrie, I don't want to redo the whole discussion about this ticket but I think you're mistaken in thinking pixelmemory can run it in a day or two.

From the zimfarm, I have the following history
- October 5, 2020: crashed after a day inc

[2021-06-06 10:15] kelson42 commented on #201
@rgaudin I guess we can close this ticket as this part has been completly rewritten? I guess the new code does not suffer of this issue!

[2021-06-06 10:17] kelson42 commented on #110
@rgaudin Can we close this ticket as you are over with this part of sotoki 2.0?

[2021-06-06 10:52] rgaudin commented on #110
yes, we kept principle but rewrote for maintenance and speed. Sounds OK for now.

[2021-06-06 10:52] #110 closed

[2021-06-06 10:52] #201 closed

[2021-06-06 10:54] rgaudin commented on #120
Closing as current master has no such issue and it's already in repo rules.

[2021-06-06 10:54] #120 closed

[2021-06-06 10:56] rgaudin commented on #194
this is already done in master.

[2021-06-06 10:56] #194 closed

[2021-06-06 11:14] kelson42 opened #205 "Build CI"
Sotoki has no CI (with code coverage) for the moment. I’m not sure how exactly it should looks like (could we achieve to make a few unit tests?). But IMO we would benefit of havint at least a run with a small dump and run zimcheck on the result.

[2021-06-08 09:29] jmontleon commented on #174
Is the master branch in a state to be worth trying at this point?

I have a container that's been running and downloading images  and populating an optimization cache. It's probably got another day plus to go downloading, currently at ~85% of questions complete. Memory usage is at about 21G. I have plenty to spare and if the rate it's been growing stays the same OOM shouldn't be an issue. The fs i

[2021-06-08 09:38] rgaudin commented on #174
Nope, master doesn't produce a usable ZIM at this time. Should be in about 2 weeks so if it's not an inconvenience for you ; I'd keep it running at least until then

[2021-06-09 20:40] jmontleon opened #207 "Unable to create zim file for stackoverflow"
### Step 1: Are you ready to report ?
   - [X] I have test with the last (dev) version of the software?

I used the most current commit I could before the rewrite started.

### Step 2 : What is your environment ?
docker container built using 1.3.2-dev 7f0477e908d242efb881544286666cba721c4b6f

### Step 3: Describe the problem:
While writing the zim file I received this error:

[code]

#### Steps to

[2021-06-09 21:09] rgaudin commented on #207
thanks for the report. as you said, rewrite in progress.
new version won't be affected by this. It's not using this code and actually not doing what was leading to it.

I understand it's frustrating to wait but I have no other solution to offer at the moment 😅

[2021-06-09 21:21] jmontleon commented on #207
No worries. If this won't be an issue after the rewrite I'll close it. I have an idea how to mangle things so it might work. Trying it out. Worst it can do is fail again. :)

[2021-06-09 21:21] #207 closed

[2021-06-23 15:31] rgaudin commented on #187
Implemented via `--censor-words-list` which takes a file or path of one-word-line to censor.

- we replace words and not chars so if we have `anal` (it's in Google's list) in our words list it would remove it in `Here's the anal version` but not in `Here's the analyzed version`. This means that having `sex` in the list doesn't remove `sexy` or `sexual`.
- we replace words in text parts of the docu

[2021-06-23 15:31] #187 closed

[2021-06-23 17:21] rgaudin commented on #186
Implemented via `--without-users-links`

What is does is that looks at all links and remove completely those that are from the same first-level domain as the following list.
It's different than `--without-external-links` which removes the URL of the link so its text content stays on the page.

In the case of `--without-users-links`, the link `<a href="facebook.com/mysupername">My Super Name Profil

[2021-06-23 17:21] #186 closed

[2021-06-23 17:32] rgaudin commented on #183
Implemented using `--without-names`.

Replaces name with a unique string so it's consistent across the ZIM (or any zim actually).

Sample: `Andrew Cheong` becomes `OOSEHNTDR`. All generated names are uppercase.

[2021-06-23 17:32] #183 closed

[2021-06-23 17:34] rgaudin commented on #151
Implemented ; this is not an option and is applied to both user profile pages and in-post images.

ATM, images are converted to WebP, then resized (128 square for profile, 540 width for in-post) and *optimized*.

WebP polyfill will be added shortly.

[2021-06-23 17:34] #151 closed

[2021-06-23 17:42] rgaudin commented on #7
@kelson42 I think if the issue's opener closed it, we shouldn't bother unless someone else feels strongly about it.

Although it's indeed doable, I don't see much of the value for it: the BY SCORE DESC sorting is the SE's default because it's the most relevant of course. I understand how the *Active* one can be useful, particularly on old questions for which new answers might render old ones obsol

[2021-06-23 17:42] #7 closed

[2021-06-23 17:47] kelson42 commented on #7
@rgaudin I just guessed that if SO has this, then this is useful.

[2021-06-23 19:20] rgaudin commented on #130
Current code base entirely based on pylibzim's master (libzim7).

[2021-06-23 19:20] #130 closed

[2021-06-24 09:28] rgaudin commented on #174
Closing this as not relevant anymore. New code base should not be affected by this very specific problem.

Master should be feature-complete compared to previous version but it hasn't been tested yet so please give us a few more days to test the ZIMs and fix the new bugs that will surely arise.

You can just launch a run to see how it goes though. Use docker (`openzim/sotoki:dev`) as it's not rele

[2021-06-24 09:28] #174 closed

[2021-06-24 12:06] #195 closed

[2021-06-24 12:18] kelson42 opened #209 "Add webp polyfill"

[2021-06-24 12:54] rgaudin commented on #181
@Popolechien I believe this is now invalid as we are following SE's design in showing date (not elapsed time from now) in the questions page. This date, while present, is not emphasized.

SE has a different homepage than us with Active questions only that we don't offer in offline version. Please take a look at newer version and reopen if you think it's still an issue

[2021-06-24 12:54] #181 closed

[2021-06-24 13:11] kelson42 opened #210 "Missing illustration"

[2021-06-24 13:14] kelson42 opened #211 "Kiwix-serve topbar magnifying logo is too smal"
see:

![image](https://user-images.githubusercontent.com/1029718/123268905-c2358080-d4fe-11eb-9556-9c058d9aeacc.png)

[2021-06-24 13:16] kelson42 opened #212 "user and questions URL should be slugs"
not ids

[2021-06-24 13:19] kelson42 opened #213 "The sidebar "public" label should be maybe removed"
![image](https://user-images.githubusercontent.com/1029718/123269650-759e7500-d4ff-11eb-85f4-c469923715e0.png)

[2021-06-24 13:20] kelson42 opened #214 ""Tags" page should have a js filter"
like in the online version

[2021-06-24 13:25] kelson42 opened #215 "External links should have an "external" icon"
like on Mediawiki

[2021-06-24 13:33] kelson42 opened #216 "Tags badges links are broken (404) time to time"
Like

![image](https://user-images.githubusercontent.com/1029718/123271119-ce224200-d500-11eb-93e8-e9b6cea9aeca.png)

Where "post-processing" and "surface" point to 404

[2021-06-24 13:40] kelson42 opened #217 "Auto scrolling should be considered in place of pagination"
at least for tags.

[2021-06-24 13:41] kelson42 opened #218 "A link to the original web site should be done in the about"

[2021-06-24 13:42] kelson42 opened #219 "Better licensing"
a paragraph about the licensing should be provided in the about

[2021-06-24 13:44] kelson42 opened #220 "Suggestions + fulltext search are missing"

[2021-06-24 15:27] rgaudin commented on #220
Works for me when creating on macOS. Pretty sure it's an issue with the (unreleased) pylibzim we pack in the Docker image. Will revisit once we've updated pylibzim. Keeping this open but as upstream until this is sorted out.

[2021-06-24 15:35] #219 closed

[2021-06-24 16:06] #213 closed

[2021-06-25 08:32] #218 closed

[2021-06-25 18:14] kelson42 commented on #188
/move kiwix/kiwix-hotspot

[2021-06-25 18:14] #188 closed

[2021-06-28 14:51] #209 closed

[2021-06-29 16:18] #216 closed

[2021-06-29 16:18] #214 closed

[2021-06-29 16:48] kelson42 commented on #217
With #214 we have a filter now. GOOD ENOUGH FOR ME.

[2021-06-29 16:48] #217 closed

[2021-06-30 16:17] #212 closed

[2021-07-01 11:24] #211 closed

[2021-07-01 11:26] rgaudin commented on #211
From the commit comment:

This is quite fragile. What happens when kiwix-serve's toolbar UI is changed? The in-zim CSS will enforce those _fixes_ and might break it…

[2021-07-01 15:29] #205 closed

[2021-07-03 09:42] kelson42 opened #224 "Case insensitive tag filter?"
Would that be complicated to have a case/diacritics sensitive filter in tags? Per default on my tablet, if I type something, then it starts with an uppercase letter.

[2021-07-03 09:48] kelson42 opened #225 "Wget outpout is printed to stderr"
It should be printed to stdout

[2021-07-03 12:41] rgaudin commented on #225
This is from scraperlib. IMO, we should only print output should it not succeeds (stderr is fine then) and don't print anything otherwise.

[2021-07-03 12:41] #225 closed

[2021-07-05 12:14] rgaudin opened #226 "Conditionnaly include Mathjax"
Currently, we include Mathjax JS for all domains. On SE, only a number of domains include MathJax so we should do the same.

We could do a query to the homepage of the online domain to check whether it's using Mathjax and decide to include it based on this result.

Note: we use Mathjax's browser detection mechanism to trigger the mobile.css UI so that would need to be adapted obviously.

[2021-07-05 12:15] rgaudin opened #227 "Conditionnaly include highlight JS"
Currently, we include highlight JS (and the stack.js stacks that's required to configure it) for all domains. On SE, this is only included for a number of domains.

We should make a request to the homepage of the online domain to find out if it should be enabled or not.

[2021-07-05 12:44] #224 closed

[2021-07-07 10:54] #202 closed

[2021-07-08 17:47] #210 closed

[2021-07-08 17:47] #220 closed

[2021-07-22 21:41] lizfrank opened #231 "python errors in docker container"
Environment:
   OS:  RHEL 7 x86.64

#docker run -v /tmp:/output openzim/sotoki sotoki --version
sotoki 1.3.1

Docker version 1.13.1, build 7d71120/1.13.1

Problem description:

Start the docker container:

docker run -d -v /zimfiles:/output openzim/sotoki sotoki security.stackexchange.com Kiwix --threads=2 --reset --clean-previous --no-userprofile

"docker ps" shows the container running for about

[2021-07-23 12:36] rgaudin commented on #231
Hi @lizfrank, sorry about that. This version is somewhat obsolete now and won't be fixed.

As you're using docker, I suggest you try the `:dev` version. Should work fine on any domain. If you want to try it with stackoverflow, be aware that we are still actively working on some RAM consumption issues so I suggest you test it with other domains first.

[2021-07-23 12:36] #231 closed

[2021-07-24 13:15] rgaudin opened #232 "Incorrect return code"
Errors doesn't always end up in the scraper returning a proper error return code (not `0`).

[2021-07-29 11:14] #232 closed

[2021-07-29 20:07] #226 closed

[2021-08-03 13:29] kelson42 opened #234 "Many broken links in ZIM from Sotoki 2.0"
[code]

[2021-08-03 14:49] rgaudin commented on #234
Ah, we have a typo in CSS path

[2021-08-03 15:33] rgaudin commented on #234
Updated output:

[code]

I removed the numerous links to missing pictures that we won't handle.

* `[WARNING] Redundant data found:
  users/profiles/4423.webp and users/profiles/6111.webp` Actual duplicate in source content. Nothing to do.
* `- /questions/tagged/regex
(questions/tagged/regex) were not found in article users/73/andrew-cheong` actual bug in user-written Bio. should have been rewritt

[2021-08-03 15:47] kelson42 commented on #234
@rgaudin Thx for the analysis, I would propose to fix Sotoki, make a new run and then link a new generated ZIM file in a bug in zim-tools.

[2021-08-03 16:14] #234 closed

[2021-08-20 06:57] move[bot] opened #235 "Kiwix-serve does not (always) print title properly"
*@kelson42 commented on Aug 30, 2018, 6:05 AM UTC:*

With [https://download.kiwix.org/zim/stack_exchange/stackoverflow.com_eng_all_2018-08.zim](https://download.kiwix.org/zim/stack_exchange/stackoverflow.com_eng_all_2018-08.zim), the title in the search bar print escaped `%26` characters.

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/kiwix-tools#223](https://github.

[2021-08-20 07:00] kelson42 commented on #235
@rgaudin Strongly suspect this bug will be fixed either by Sotoki2 or by the multiple improvements done recently on Kiwix Serve side. Shoudl be checked as soon as the new SO ZIM file is ready.

[2021-08-20 16:42] mossroy opened #236 "Some content is not found in ZIM file, according to kiwix-js"
### Step 2 : What is your environment ?
  * browser / app : kiwix-js on Chromium 92.0.4515.159
  * version of the software you use : git commit id 9e7c1e9fb32fdc0372d186c2cae0308d4f892c73 (latest of branch Add-instructions-to-compile-zstddec-with-docker, but should be the same on master)
  * device / operating system : Ubuntu 20.04

### Step 3: Describe the problem:

  * What do you obtain? Errors

[2021-08-20 16:56] mossroy opened #237 "Header is very different depending on the size of the screen"
### Step 2 : What is your environment ?
  * browser / app : kiwix-js on Chromium 92.0.4515.159
  * version of the software you use : git commit id 9e7c1e9fb32fdc0372d186c2cae0308d4f892c73 (latest of branch Add-instructions-to-compile-zstddec-with-docker, but should be the same on master)
  * device / operating system : Ubuntu 20.04

### Step 3: Describe the problem:

It's a very minor issue, only

[2021-08-20 16:57] rgaudin commented on #236
Thank you @mossroy. The missing CSS is indeed unexpected. I'll fix that.

Regarding the images (all the `.webp` ones), this is unfortunately the expected behavior:
- we don't (and won't) know which image succeeded download before adding the articles page to zim
- we have a fallback on the html/js part to display something else.

[2021-08-20 17:29] mossroy opened #238 "Pages seem to consume more memory than before"
My old Firefox OS device struggles a lot to display a page of http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim, while it can easily display old sotoki-based ZIM files.
It seems to be because it spends a lot of time in its memory garbage collector, which probably indicates it consumes too much memory for its RAM.

![image](https://user-images.githubusercontent.com/890923/130269673-f7

[2021-08-20 17:32] rgaudin commented on #238
First guess would be that it's the WebP polyfill. We're probably doing something wrong there.

I'll close as wontfix if the problem is not in our wrapper but in the webp-png converter though.

[2021-08-20 17:55] rgaudin commented on #237
Yes, that was surprising for me too when I saw that on stack exchange websites. We've somehow replicated what was online. SE's website has changed a bit since we replicated their style. I believe this is an ongoing process.

We adapted it a bit because it was relying on JS and using different pages (not responsiveness) for About page for instance but the top bar with the inverted colors is theirs.

[2021-08-20 17:55] #237 closed

[2021-08-20 18:29] mossroy commented on #238
It's true that my device does not handle WebP format natively. But It can't come from the WebP polyfill.
The polyfill provided inside the ZIM file is not even loaded on this platform, because it uses our "jQuery" mode, that does not handle any bundled javascript. The js file is not loaded.
We also provide a WebP polyfill with kiwix-js, that allows here to display the WebP images. But I have the sa

[2021-08-20 18:38] mossroy commented on #237
All right, no problem.

By the way, if you can use "only" CSS-based responsive design (without javascript for that) in next version, it would allow it to work on devices that only support our jQuery mode (that does not handle javascript).
With the file mentioned above, the Questions/Tags/Users/About are still on the left side of small screens in jQuery mode. Even if the black header appears.

I kn

[2021-08-20 18:43] rgaudin commented on #237
it's already the case in master. maybe this zim is too old. I'll upload a newer version for you

[2021-08-21 19:26] rgaudin commented on #237
@mossroy https://mirror.download.kiwix.org/zim/.hidden/dev/alcohol_meta_stackexchange_com_2021-08.zim

[2021-08-21 20:29] rgaudin commented on #235
@kelson42, I don't understand why you moved this here. It obviously has nothing to do with sotoki.

I believe the problem is in kiwix-serve trying to encode server side and decode client side. Anyway, it has been fixed (tested on latest kiwix-serve nightly)

previous kiwix-serve:
<img width="428" alt="Screen Shot 2021-08-21 at 20 23 50" src="https://user-images.githubusercontent.com/57929/13033404

[2021-08-22 04:42] kelson42 commented on #235
/move kiwix/kiwix-tools

[2021-08-22 04:42] #235 closed

[2021-08-22 08:11] mossroy commented on #237
I unfortunately have the same behavior with 2021-07 and 2021-08 versions of this ZIM file

[2021-08-22 08:28] kelson42 commented on #237
@mossroy I guess this problem is reproducible with the responsive mode of Firefox. I would recommend to open a ticket in sotoki with exact screen resolution to use and screenshot.

[2021-08-22 08:32] rgaudin commented on #237
In case that was not clear from my comment : this zim has a similar UI (said we won't change it now) but doesn't rely on JS sir it.

JS-specific features are:
- dates turned into a delta
- code highlighting
- math rendering

[2021-08-22 16:24] mossroy commented on #237
The exact screen width when this happens is 640px, and it's indeed reproducible with the dev tools of Firefox (in jQuery mode) :

![image](https://user-images.githubusercontent.com/890923/130362392-e0bff6c8-4986-407f-8603-f55df4d695e6.png)

Thanks @rgaudin for the clarification. If no javascript is involved for the responsive design, it needs more investigation on our side (@Jaidroid an I) to unde

[2021-08-22 16:31] rgaudin commented on #237
Not sure I'm following. Your issue is not about that design switch but the fact that responsiveness is broken in kiwix-js right? Indeed I can reproduce this in kiwix-js (firefox ext nightly) but not on [kiwix-serve](https://dev.library.kiwix.org/alcohol_meta_stackexchange_com_2021-08/C/questions)

[2021-08-22 17:02] mossroy commented on #237
Yes, you understood correctly.
To avoid polluting this issue here, I've opened https://github.com/kiwix/kiwix-js/issues/756 (on kiwix-js side, for investigation)

[2021-08-27 09:37] rgaudin opened #240 "docker: dump redis on --tmp-dir"
When using `--defrag-redis`, we use `SAVE` to dump redis to filesystem. Currently, redis workdir is hard-coded to `/output` but it'd be better to use what was passed to `--tmp-dir` (if passed) as this is an 8GiB file for SO (that we don't delete).

[2021-09-04 15:04] rgaudin opened #241 "Stack Overflow name is not visible (orange on orange)"
Text is selected on following screenshot
<img width="798" alt="Screen Shot 2021-09-04 at 15 03 11" src="https://user-images.githubusercontent.com/57929/132099032-e4cae97a-2ef8-4fb2-8d71-59d9c43640d6.png">

https://dev.library.kiwix.org/stackoverflow_en_nopic_2021-08/questions

[2021-09-04 15:06] rgaudin opened #242 "Some questions are indented in list"
For some reason, there are questions that are indented in questions list (here on page 100)

https://dev.library.kiwix.org/stackoverflow_en_nopic_2021-08/questions_page=100

<img width="1263" alt="Screen Shot 2021-09-04 at 15 05 00" src="https://user-images.githubusercontent.com/57929/132099082-5dd0d5fd-113c-4223-8285-bacc3bc2d08e.png">

[2021-09-04 15:47] kelson42 commented on #215
It seems to not be fully fixed. Look at https://dev.library.kiwix.org/stackoverflow_en_nopic_2021-08/questions/tagged/perl for example.

[2021-09-04 15:49] rgaudin commented on #215
Right ; we're not applying our rewriting to Description and Excerpt of tags. Good catch.

[2021-09-10 08:29] rgaudin opened #243 "Memory Leak (XML parsing, Templates, libzim ?)"
**Bounty Hunters**: See https://github.com/openzim/sotoki/issues/243#issuecomment-1170237942 for additional details

When running sotoki on very large domain such as StackOverflow, memory becomes an issue.
A [full run (without images) on athena](https://farm.openzim.org/pipeline/333bcb7949b73e101eff8216) worker (which has slow CPU and disk) consumed about everything of its 96GiB configured RAM.

<

[2021-11-18 05:30] kelson42 opened #244 "Localhost link rewrite fails"
File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/utils/html.py", line 234, in rewrite_links
    if self.rewrite_user_link(link):
  File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/utils/html.py", line 243, in rewrite_user_link
    or get_fld(link["href"]) in SOCIAL_DOMAINS
  File "/usr/local/lib/python3.8/site-packages/tld/utils.py", li

[2021-11-18 09:01] rgaudin commented on #244
Fixed on 9f053b6

[2021-11-18 09:01] #244 closed

[2021-11-20 08:52] kelson42 opened #245 "SO scrape crash because of invalid IPv6 address"
From https://farm.openzim.org/pipeline/b23c4dedcf5b19541f816916/debug

    {% block content %}
  File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/templates/question.html", line 40, in block 'content'
    {% include "post_layout.html" %}
  File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/templates/post_layout.html", line 14, in top-level

[2021-11-20 11:04] #245 closed

[2021-11-22 05:47] kelson42 opened #246 "AttributeError: 'NoneType' object has no attribute 'next_element'"
From https://farm.openzim.org/pipeline/fb6c5dedcf5b1954a39e8916/debug

  raise rewrite_traceback_stack(source=source)
  File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/templates/question.html", line 1, in top-level template code
    {% extends "base.html" %}
  File "/usr/local/lib/python3.8/site-packages/sotoki-2.0.0.dev0-py3.8.egg/sotoki/templates/base.html", line

[2021-11-24 05:27] kelson42 commented on #246
It seems to keep crashing because of this bug https://farm.openzim.org/pipeline/9c5d6d486f98761b55f8b916/debug

[2021-11-24 09:20] rgaudin commented on #246
Thank you ; it's the same issue in a following code block. I am using the logs to look at the root cause.

[2021-11-25 11:07] #246 closed

[2021-12-11 13:13] kelson42 opened #247 "Links to user profiles are not removed if scraper does not scrape them (option)"
We can see that for example on the Bard ZIM flavour. At the end of each post, there is a link to the author user profile... and there should not be a link.

[2021-12-27 18:01] kelson42 opened #248 "SO with pictures crash at 99%"
From https://farm.openzim.org/pipeline/6691155583868044bdea4b16/debug

[MainThread::2021-12-27 17:09:23,041] DEBUG:deferring url='https://i.stack.imgur.com/tCyC1.png' path=None is_profile=False
[MainThread::2021-12-27 17:09:23,144] DEBUG:URL `https://i.stack.imgur.com/tCyC1.png` already processed.
[MainThread::2021-12-27 17:09:23,162] DEBUG:deferring url='https://i.stack.imgur.com/tCyC1.png' path=

[2021-12-28 14:48] #248 closed

[2022-01-05 15:47] mossroy opened #249 "Remove inline javascript to comply with some CSP"
Tested with https://download.kiwix.org/zim/stack_exchange/beer_stackexchange_com_2021-12.zim

There are these 2 inline javascript blocks in each page :

[code]

[code]

and the avatar images have the following attribute, too :
`onerror="onImageLoadingError(this);"`

[2022-03-12 17:45] kelson42 opened #250 "ZIM filenames differs from v1.x"
1.3.1 generates `beer.stackexchange.com_en_all_2021-05.zim` but future 2.0.0 generates `beer_stackexchange_com_2021-12.zim`. Is that on purpose? This does not ease the migration on [dow](https://download.kiwix.org/zim/stack_exchange/)

[2022-03-12 18:10] rgaudin commented on #250
Yes, it was on purpose but I understand how our scripts would not recognize new ZIMs as updates of the former ones.

I think new names are better in general (better I don't really care) so I would suggest we keep those in the scraper and fix that in zimfarm recipes …  unless you want to to update dow scripts to accomodate new files.

[2022-03-12 18:19] kelson42 commented on #250
Agree, but not sure how exactly you want to adapt recipes and how we shoukd deal with olds files.

[2022-04-21 05:45] kelson42 commented on #243
@rgaudin @mgautierfr Maybe this new opensource tool would help to understand what is going on? https://github.com/bloomberg/memray

[2022-05-03 13:59] rgaudin opened #251 "Sotoki produces ZIM filenames and Name are incorrect"
[ukrainian_stackexchange_com_2022-05.zim](http://download.kiwix.org/zim/stack_exchange/ukrainian_stackexchange_com_2022-05.zim) from https://farm.openzim.org/recipes/ukrainian.stackexchange.com_mul/config

[2022-05-04 04:05] kelson42 opened #252 "Errors by downloading files from Wikimedia"
[IMG-T-93::2022-05-02 08:18:34,806] DEBUG:Uploading https://i.stack.imgur.com/zob6i.png to S3::https/i.stack.imgur.com/zob6i.png with {'ident': '"0ebeff5f25a567ae84ea87723a2cac49"', 'encoder_version': '1'}
[IMG-T-50::2022-05-02 08:18:34,837] DEBUG:Uploading https://i.stack.imgur.com/L1RaK.gif to S3::https/i.stack.imgur.com/L1RaK.gif with {'ident': '"4bcef343431e3db5986288b41cddf714"', 'encoder_ver

[2022-05-04 10:09] rgaudin commented on #251
Actually this is a systematic problem. The code is clear, unless manually specified, the `Name` is the *domain* with dots replaced with underscores. Unless specified, the filename is the `Name` followed by the period prefix.

I'll write down the convention on overview or zimfarm Wiki and adapt the code to it. It might be necessary to maintain a mapping of domains/languages and ask user to specify

[2022-05-09 13:31] kelson42 opened #253 "Scraping stuck at 100%"
It seems to fail to connect to all forks (we had this problem but I can not find the ticket anymore).

See:
* https://farm.openzim.org/pipeline/4865961e35a1feb832187726
* https://farm.openzim.org/pipeline/e664a6e06b7e1ebec05d7726
* https://farm.openzim.org/pipeline/6164a6e06b7e1ebe8e4d7726

[2022-05-13 04:19] kelson42 opened #254 "Unable to scrape Mathoverflow"
[IMG-T-21::2022-05-12 16:02:32,615] DEBUG:Attempting download of S3::https/lh3.googleusercontent.com/a/AATXAJzd8iFsWekUWJ97zOTIoJz0pgVMZ28qbZnS2fAK=s96-c?sz=128 into ZIM::users/profiles/478225.webp
[MainThread::2022-05-12 16:02:35,170] DEBUG:all threads joined for T-
[MainThread::2022-05-12 16:02:35,171] DEBUG:UserGenerator Workers collected.
[MainThread::2022-05-12 16:02:37,264] DEBUG:Cleaning-up

[2022-05-14 14:50] kelson42 opened #255 "Process dies at the end with "KeyboardInterrupt""
[code]

For example at https://farm.openzim.org/pipeline/1f5e91e258211b4cac7fc726/debug

[2022-05-15 16:31] #250 closed

[2022-05-15 16:31] #251 closed

[2022-05-17 10:36] rgaudin commented on #255
Received a SINGINT, most probably by worker owner after he'd have seen the process spend more than 30mn joining threads. Marking this a duplicate of #253

[2022-05-17 10:36] #255 closed

[2022-05-17 10:38] rgaudin commented on #254
Fogot to mark this fixed (c5b78c354136df476eb6dbec3eb925bf7afdd29e)

[2022-05-17 10:38] #254 closed

[2022-05-17 13:26] #253 closed

[2022-05-18 05:36] kelson42 opened #256 "Unable to scrape monero.stackexchange.com"
See https://farm.openzim.org/pipeline/336e91e258211b4cbd7fc726/debug
[code]

Might that be the data dump is not available (anymore)?

[2022-05-18 05:42] kelson42 commented on #256
Same for https://farm.openzim.org/pipeline/8ab5c1784190c11681684826

[2022-05-18 05:42] kelson42 commented on #256
Same for https://farm.openzim.org/pipeline/72f102ebc98ea2bc48584826

[2022-05-18 16:01] rgaudin commented on #256
`monero` and `reverseengineering` dumps **are not available [upstream](https://archive.org/download/stackexchange) anymore**.

Both are still listed on the [Sites.xml](https://ia800107.us.archive.org/27/items/stackexchange/Sites.xml) file so it might be an error on Stack Exchange side for this March 2022 upload… Any idea how to report this upstream?

You should disable both recipes in the mean tim

[2022-05-18 16:01] #256 closed

[2022-05-25 07:28] yekanchi opened #257 "why there is no run for stackoverflow on openzim farm"
while I was able to download stackoverflow from openzim a while ago like:
[https://farm.openzim.org/pipeline/fefb8d486f98761b3c570a16](https://farm.openzim.org/pipeline/fefb8d486f98761b3c570a16)

but now there is no run for stackoverflow english.

close this if it's unrelated to the repo.

[2022-05-25 07:33] yekanchi commented on #257
it seems there is a new todo:
[https://farm.openzim.org/pipeline/filter-todo](https://farm.openzim.org/pipeline/filter-todo)

I hope it will help us download for stackoverflow.com

[2022-05-25 07:57] rgaudin commented on #257
This one is a special version with several limitations; I'm removing it. But we're starting a regular SO one in the coming days.

Appropriate repo for such requests would be openzim/zim-requests

[2022-05-25 09:28] yekanchi commented on #257
thanks.
I'm closing as this is unrelated to this repo.

[2022-05-25 09:28] #257 closed

[2022-05-26 13:56] kelson42 commented on #249
@rgaudin Is that feasible? easily?

[2022-05-26 14:03] rgaudin commented on #249
There are additional ones, like MathJax, highlighting and for the tags browser. So yes, it's feasible, probably easy but time consuming…

[2022-06-21 08:45] kelson42 opened #259 "Multilanguage ZIM are not perfectly handled"
For french.stackexchange.com or esperanto.stackexchange.com, content is multilanguage: french and english.

Filename should be with _mul_

ZIM metadatas should have fra,eng.

Same for all other ZIM files of that kind.

[2022-06-21 08:46] kelson42 commented on #259
Same for german.stackexchange.com

[2022-06-22 13:24] Popolechien opened #260 "Landing page should allow other sorting types than "Popular""
Currently the "real" [StackOverflow](https://stackoverflow.com/questions) allows sorting by "all" (not super useful), but also Newest, Active, Unanswered, Bountied, Frequent and Score (which I assume is our "Popular").

Having at least Newest and Unanswered as available sorting might be useful.

[2022-06-22 13:28] Popolechien opened #261 "Search returns too many results"
Currently searching for string `toto` returns all results pages including `toto`, including comments and answers.

Considering that the snippets of text shown are too short / not always very clear, it might be helpful to limit the results page to only return **questions** that include the target string.

[2022-06-22 13:33] rgaudin commented on #260
I don't see the value. *Unanswered* is mostly here for contributors to find post to answers, not the other way around.

If those were filters applied on a search result, I'd say it would make sense to have *Newest* but imho, those questions listing pages serve the same purpose as the mwoffliner homepage: help you understand how the ZIM works. Actual readers are going to be using search *exclusivel

[2022-06-22 13:38] Popolechien opened #262 "Search results should return question score and number of answers"
Searching for `toto` on Stackoverflow will return a list of questions that contain the string, but also allow sorting these results by relevant, newest, active and score (and by default indicate the number of votes and answers)
![Capture d’écran 2022-06-22 à 15 35 16](https://user-images.githubusercontent.com/21675885/175042569-01d5be43-b96e-4e47-bbcf-6689a416954d.png)

[2022-06-22 13:49] rgaudin commented on #261
I disagree with your diagnostic and solution but agrees on the root cause: search is a bit of a pain to use in its current form while being the recommended way to access posts.

[SO's advanced search feature](https://stackoverflow.com/search?q=NotImplementedError) is great and ideally, we'd need something similar:

<img width="759" alt="Screen Shot 2022-06-22 at 13 40 59" src="https://user-images.

[2022-06-22 13:50] rgaudin commented on #262
Agrees ; see https://github.com/openzim/sotoki/issues/261#issuecomment-1163123522

[2022-06-22 13:53] Popolechien opened #263 "Missing links in Question"
When browsing a question on SO the page also shows linked and related questions with their respective scores at the bottom right

![Capture d’écran 2022-06-22 à 15 52 19](https://user-images.githubusercontent.com/21675885/175046132-39bf930a-3e72-4064-9c20-2da0664e19ba.png)

[2022-06-22 13:55] rgaudin commented on #263
It's already the case 🙄

[2022-06-22 14:24] Popolechien commented on #263
It does not show `related`: see
https://stackoverflow.com/questions/62479216/get-ui-elements-of-application-opened-by-finder-using-applescript
and
https://library.kiwix.org/stackoverflow.com_en_all_2022-05/questions/62479216/get-ui-elements-of-application-opened-by-finder-using-applescript

[2022-06-23 12:13] Popolechien commented on #243
Note: a bounty can now be claimed for solving this issue. https://app.bountysource.com/issues/109534260-leaking-memory

[2022-06-28 17:08] rgaudin commented on #243
@TheCrazyT those processes happen early on in the whole scraping process and complete before we start the intensive work. Now that we're expecting outsiders to take a look at this, I'll rewrite the issue in the coming day(s) with as much details as possible. Yes https://github.com/openzim/python-scraperlib is a possible culprit.

[2022-06-28 19:21] TheCrazyT commented on #243
I'm currently looking at:
https://githubmemory.com/repo/openzim/python-libzim/issues/117?page=2
Does that mean that "4.  Observe that memory consumption is stable" is wrong because you still have problems?
If you let the Proof of concept-script on that site run long enough(with a bigger dataset), would you get the same curve?

If your answer is yes, then I'm wondering if it could be a python inter

[2022-06-29 16:55] rgaudin commented on #243
Here's a more complete description for those not familiar with sotoki and this issue.

- sotoki creates a [ZIM](https://openzim.org) file given a stack-exchange domain (there are 356 `sotoki --list-all`)
- a ZIM is a binary archive of a _website_: every resource is stored at a *path* and non-binary resources are compressed
- It takes a ZIM reader to use/browse/read a ZIM. Most readers rely on `lib

[2022-07-01 11:43] rgaudin opened #265 "Incorrect link rewriting"
There is a bad link in the article `users/241039/oleh-prypin` (entry idx=58950210) in the ZIM file:

[code]

The corresponding link in the current version of https://stackoverflow.com/users/241039/oleh-prypin is

[code]

The scraper added unjustified "../.." in an absolute URL belonging to a different domain.

Of course zimcheck shouldn't crash because of it and I will fix that. But now you have e

[2022-07-02 07:47] TheCrazyT commented on #243
It is still possible that the xml library is leaking.
Atleast i created a proof of concept with a jupyter notebook:

https://gist.github.com/TheCrazyT/376bb0aac2d283f9ba505b889ef5da51

Bad thing is ... I currently can't really figure out what the problem is, but it seems to be caused by the html-entities in combination with long text inside the body-attribute of the row-tag.
I was hoping that it i

[2022-07-06 11:55] rgaudin commented on #265
@TheCrazyT how is this relevant to this ticket? Did you answer here by mistake?

Regarding BS not being threadsafe it's probably not the issue as BS is [instantiated each time](https://github.com/openzim/sotoki/blob/master/src/sotoki/utils/html.py#L164) in the rewriter which is called by the `rewrote()` Jinja filter in templates. We may well be leaking around this but BS not being threadsafe is pr

[2022-07-06 11:56] TheCrazyT commented on #265
Well guess the problem is that it just substitudes the current url, but ignores to_root,that already is ../.. .

https://github.com/openzim/sotoki/blob/841a9682e7af285f8c82d94f5ef8912272a1452a/src/sotoki/utils/html.py#L257

https://github.com/openzim/sotoki/blob/841a9682e7af285f8c82d94f5ef8912272a1452a/src/sotoki/renderer.py#L203

[2022-07-06 11:57] TheCrazyT commented on #265
Sorry the comment about beautifulsoup was a mistake, thats why I deleted it and hoped you won't notice 😀

[2022-07-06 12:15] TheCrazyT commented on #265
Ah now i see ... the detection if it is a relative url is actually already wrong.

[2022-07-06 17:03] rgaudin commented on #265
@TheCrazyT your commit looks good; can you submit a PR ?

[2022-07-11 15:29] Retkid commented on #243
Sorry if this is too much to ask, but, I would like to take a look, though Jupiter Notebooks aren't quite helpful for me.

Can you please write a small python script, with a provided xml file (I recommend wikipedia's XML dumps, they're beef enough to illustrate trends like this)

Thank you!

[2022-07-14 08:38] TheCrazyT commented on #243
@Retkid sorry, beside fishing strings in the core-dump and profiling the whole sotoki I have no simple script that profiles the memory.

I'm currently looking at the output of "log-malloc2" to figure out if there is something weird.(something allocated, but not freed)

Currently leads me to "lxml" inside "xmlBufGrow" , but that could also be a red hering.

[2022-07-15 08:59] rgaudin opened #267 "Custom name not used"
[Latest stackoverflow.com nopic run](https://farm.openzim.org/pipeline/a20734d8518644f7ea375c26/debug), although having a custom `--name` ended-up with the same filename as the regular stackoverflow.

[`Name` metadata](http://library.kiwix.org/raw/stackoverflow.com_en_all_nopic_2022-07/meta/Name) is also incorrect.

[2022-07-17 08:15] TheCrazyT commented on #243
@rgaudin

Ok ... here is another thing I noticed.
The commit of the redis-package, has actually a "command stack"( https://github.com/redis/redis-py/blob/c54dfa49dda6a7b3389dc230726293af3ffc68a3/redis/client.py#L2049 ) that gets emptied after a commit.

But here is the catch, the `commit_maybe` won't commit as othen as you would think it would:
https://github.com/openzim/sotoki/blob/692f59b601f268

[2022-07-18 11:29] rgaudin commented on #243
Good point ; I'd go with `self.nb_seen > self.commit_every` as well as it seems safer.

[2022-07-18 14:06] TheCrazyT commented on #243
Well, If I saw it correctly, then every thread has its own `nb_seen`, starting from 0.

Maybe its just not noticeable if one thread is lucky and hits commit.

[2022-07-19 11:00] TheCrazyT commented on #243
Still believe that the `Rewriter` that gets executed during the html-generation somehow causes a leak.

Sadly I'm not able to reproduce the problem if I just test the Rewriter on its own.
But if you disable the rewrite method you that the memory-profile-curve seems to be more flat.

Already thought that BeatifulSoup may cause the leak because they do not seem to close the xml-parser in case of an

[2022-07-25 16:09] parvit commented on #243
Hi all,
seen that there did not seem to be progress on this i started looking at it, using the memray tool and running on a dump of the gaming site (can't run anything more massive).

I've found that there does not seem to be a leak _per se_ but instead a diverging memory usage behavior caused mainly by two culprits (both native memory so not easily found):
* Xapian search engine
* Zim file compre

[2022-07-25 16:13] parvit commented on #243
For reference, this is the usage with the current code in both projects:
![original](https://user-images.githubusercontent.com/93098480/180824972-75f30a37-5040-47f8-9cd9-a525adf76cfd.png)

This is with my change and keeping both functionalities disabled:
![complete_fix](https://user-images.githubusercontent.com/93098480/180824985-ad93f35a-4e16-4871-aba8-988d274a0074.png)

To my understanding and a

[2022-07-25 16:24] rgaudin commented on #243
@parvit ; thank you for your contribution but compression and full-text index are enabled by default on purpose, because that's what's wanted 99% of the time. It is still possible to disable it should it not be wanted.

[code]

I am skeptical about compression or indexing having a huge impact on memory as I believe those would work at most at ZIM-cluster level which is fixed size. So the size of t

[2022-07-25 16:35] parvit commented on #243
@rgaudin Sure you can check for yourself by looking at the analysis in the drive folder i've provided.
In the original run 2/3 of the total memory were allocated by the compression + indexer.

I can make the change so as to keep it enabled by default and give the possibility of disable it if you feel it's better this way for the project.

[2022-07-26 09:29] rgaudin opened #270 "Style is slightly broken"
Most likely due to an update of upstream's styles, sotoki UI doesn't render as it should.

**Before**
<img width="1287" alt="Screen Shot 2022-07-26 at 09 26 03" src="https://user-images.githubusercontent.com/57929/180973482-14ce9053-b613-4a9c-99fb-e688872bbf84.png">

**Now**
<img width="1342" alt="Screen Shot 2022-07-26 at 09 25 44" src="https://user-images.githubusercontent.com/57929/180973525-f8

[2022-07-26 18:41] parvit commented on #243
@rgaudin
I hope you do find at some point what you think is the bug however i alwyas let myself be guided by data when doing these performance analysis so i don't think i'll contribute anything else to this because to me the data was very clear and the fix also.

Good luck.

[2022-07-26 19:16] kelson42 commented on #243
@parvit IMO your are mixing two different things:
* The Sotoki options and default benaviour: we don't want to change it and we don't need to change it. This has nothing to do with the memory leak.
* The memory leak itself, which is the topic. You have emitted a theory and provided evidences. We still have to redo the expermiment to see if we come to the same conclusion, but we don't need your PRs

[2022-07-26 19:33] parvit commented on #243
well i'll admit i have jumped to conclusions a bit too fast.

I'll be awaiting the results of your tests.

Il Mar 26 Lug 2022, 21:16 Kelson ***@***.***> ha scritto:

[2022-07-28 18:13] rgaudin commented on #243
@TheCrazyT PR #268 did not improve memory usage.
<img width="1494" alt="baseline" src="https://user-images.githubusercontent.com/57929/181607917-fe132705-91d8-45d7-968f-007fcf268882.png">

<img width="1331" alt="redis-commit" src="https://user-images.githubusercontent.com/57929/181607942-f5c535d5-eb15-4b48-b2ef-e5f0f78dd5e2.png">

Look at the durations as the second one's image is not complete (ha

[2022-07-28 20:18] TheCrazyT commented on #243
Thanks for testing.

That is a really disappointing result.
I must admit that I always tested with the "FakeCreator" that you mentioned in your first comment and with a much smaller dataset.

I wish you luck in finding the leak.

Probably does not have something to do with python code itself but I'm currently out of ideas.
It is also really difficult to create a simple and small proof of concept o